{% extends 'base.html.twig' %}

{% block title %}Accès aux personnes en situation de handicap
{% endblock %}

{% block body %}
	<section class="accessibilite homepage-hero-banner mb-0" style="height:100%">
		<div class="d-flex flex-column container-lg">
			<div class="row">

				<div class="col-md-6 pt-5">
					<h2 class="title-underlined title-white-inversed align-self-center mt-5 text-white">La formation pour tous</h2>
					<div class="fs-1.5">
						<div class="mt-5 mb-5" style="font-size:1.3rem;">
							<p>Notre Référent Handicap est présent pour faciliter l’intégration des personnes en situation de handicap et dans la réussite de leurs parcours de formation. Son rôle est de proposer un accompagnement aux apprenants en situation de handicap qui rencontrent des difficultés de formation, d’insertion professionnelle, etc.
								<br>
								<br>
								La Personne Ressource Handicap traite les demandes de manière individuelle et s’efforce d’apporter la réponse la plus adaptée à la situation et aux besoins du bénéficiaire. Elle collabore également avec les acteurs de l’accompagnement de l’apprenant dans son parcours de formation et vers l’emploi.
							</p>

						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-end" style="
																																																																																																																																																																																																																																																																																																																																																																								    display: flex;
																																																																																																																																																																																																																																																																																																																																																																								    flex-direction: column;
																																																																																																																																																																																																																																																																																																																																																																								    justify-content: center;
																																																																																																																																																																																																																																																																																																																																																																								">
				<p style="">
					<b>
						Référent Handicap
						<br>
						Apprenti Webeur</b><br><br>
					Rémy SAHAGUIAN
					<br>


					<span style="text-transform:underline">remy@apprenti-webeur.fr</span>

				</p>
				<svg class="arrow" width="57" height="499" viewbox="0 0 57 499" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M33.5 6C33.5 2.96243 31.0376 0.5 28 0.5C24.9624 0.5 22.5 2.96243 22.5 6H33.5ZM22.5 449C22.5 452.038 24.9624 454.5 28 454.5C31.0376 454.5 33.5 452.038 33.5 449H22.5ZM22.5 15.2292C22.5 18.2667 24.9624 20.7292 28 20.7292C31.0376 20.7292 33.5 18.2667 33.5 15.2292H22.5ZM33.5 45.9931C33.5 42.9555 31.0376 40.4931 28 40.4931C24.9624 40.4931 22.5 42.9555 22.5 45.9931H33.5ZM22.5 64.4514C22.5 67.489 24.9624 69.9514 28 69.9514C31.0376 69.9514 33.5 67.489 33.5 64.4514H22.5ZM33.5 95.2153C33.5 92.1777 31.0376 89.7153 28 89.7153C24.9624 89.7153 22.5 92.1777 22.5 95.2153H33.5ZM22.5 113.674C22.5 116.711 24.9624 119.174 28 119.174C31.0376 119.174 33.5 116.711 33.5 113.674H22.5ZM33.5 144.438C33.5 141.4 31.0376 138.938 28 138.938C24.9624 138.938 22.5 141.4 22.5 144.438H33.5ZM22.5 162.896C22.5 165.933 24.9624 168.396 28 168.396C31.0376 168.396 33.5 165.933 33.5 162.896H22.5ZM33.5 193.66C33.5 190.622 31.0376 188.16 28 188.16C24.9624 188.16 22.5 190.622 22.5 193.66H33.5ZM22.5 212.118C22.5 215.156 24.9624 217.618 28 217.618C31.0376 217.618 33.5 215.156 33.5 212.118H22.5ZM33.5 242.882C33.5 239.844 31.0376 237.382 28 237.382C24.9624 237.382 22.5 239.844 22.5 242.882H33.5ZM22.5 261.34C22.5 264.378 24.9624 266.84 28 266.84C31.0376 266.84 33.5 264.378 33.5 261.34H22.5ZM33.5 292.104C33.5 289.067 31.0376 286.604 28 286.604C24.9624 286.604 22.5 289.067 22.5 292.104H33.5ZM22.5 310.562C22.5 313.6 24.9624 316.062 28 316.062C31.0376 316.062 33.5 313.6 33.5 310.562H22.5ZM33.5 341.326C33.5 338.289 31.0376 335.826 28 335.826C24.9624 335.826 22.5 338.289 22.5 341.326H33.5ZM22.5 359.785C22.5 362.822 24.9624 365.285 28 365.285C31.0376 365.285 33.5 362.822 33.5 359.785H22.5ZM33.5 390.549C33.5 387.511 31.0376 385.049 28 385.049C24.9624 385.049 22.5 387.511 22.5 390.549H33.5ZM22.5 409.007C22.5 412.045 24.9624 414.507 28 414.507C31.0376 414.507 33.5 412.045 33.5 409.007H22.5ZM33.5 439.771C33.5 436.733 31.0376 434.271 28 434.271C24.9624 434.271 22.5 436.733 22.5 439.771H33.5ZM22.5 6V15.2292H33.5V6H22.5ZM22.5 45.9931V64.4514H33.5V45.9931H22.5ZM22.5 95.2153V113.674H33.5V95.2153H22.5ZM22.5 144.438V162.896H33.5V144.438H22.5ZM22.5 193.66V212.118H33.5V193.66H22.5ZM22.5 242.882V261.34H33.5V242.882H22.5ZM22.5 292.104V310.562H33.5V292.104H22.5ZM22.5 341.326V359.785H33.5V341.326H22.5ZM22.5 390.549V409.007H33.5V390.549H22.5ZM22.5 439.771V449H33.5V439.771H22.5Z" fill="#FAA5A5"/>
					<path d="M5.91362 468.618L29.1829 493.298L50.9861 466.784" stroke="#FAA5A5" stroke-width="11" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>

			</div>


		</div>
	</div>

</section>
<section class="mb-5">
	<div class="d-flex flex-column gap-5 container-lg py-5 g-0 px-3 px-lg-0">
		<!--<img src="{{ asset('img/icon_ accessible.png') }}" style="width:50px;margin-bottom:-30px;">-->

		<h2 class="title-underlined" style="color:#4222c4;">Modalités et délais d'accès</h2>
		<div class="">
			<div class="">
				<p class="" style="font-size:1.3rem;">
					L’accès à nos formations peut être initié par l’employeur, à l’initiative du salarié, par un particulier, à la demande de Pôle Emploi … <br><br>

Pour vos demandes de formation, contactez-nous via notre <a href="{{ path('contact') }}" style="text-decoration:underline"> formulaire.</a><br><br>

Notre organisme de formation s’engage à vous répondre dans un délai de 48 heures. Nous envisagerons la date de début de formation la plus appropriée en fonction de vos besoins, préférences et contraintes. Nous vous préciserons également les objectifs, les compétences acquises et les sources de financement possibles.<br>

Si la formation nécessite des prérequis, nous nous assurerons également que vous les remplissiez lors d’un entretien individualisé
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                        d’emploi mais aussi aux formations spécifiques pour les personnes handicapées. <br><br> Vous pouvez vous
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                        former tout au long de votre vie, que vous soyez salarié ou demandeur d’emploi.
				</p>
			</div>

		</div>
	</div>
</section>

<section class="mb-5">
	<div class="d-flex flex-column gap-5 container-lg py-5 g-0 px-3 px-lg-0">
		<!--<img src="{{ asset('img/icon_ accessible.png') }}" style="width:50px;margin-bottom:-30px;">-->

		<h2 class="title-underlined" style="color:#4222c4;">Quels sont les différents types de formation ?</h2>
		<div class="">
			<div class="">
				<p class="" style="font-size:1.3rem;">
					En tant que personnes en situation de handicap, vous avez accès aux formations ouvertes à tous les demandeurs
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                        d’emploi mais aussi aux formations spécifiques pour les personnes handicapées. Vous pouvez vous
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                        former tout au long de votre vie, que vous soyez salarié ou demandeur d’emploi.
				</p>
			</div>

		</div>
	</div>
</section>
<section>
	<img src="{{ asset('img/accesss.jpg') }}" style="width:100%;">
</section>
<section class="mb-5">
	<div class="d-flex flex-column gap-5 container-lg py-5 g-0 px-3 px-lg-0">
		<!--<img src="{{ asset('img/icon_ calculator.png') }}" style="width:50px;margin-bottom:-30px;margin-top:55px">-->

		<h2 class="title-underlined title-underlined" style="color:#4222c4;">Comment financer votre formation ?</h2>
		<div class="">
			<div class="" style="font-size:1.3rem;">
				<p>
					<b>L’ agefiph</b>
					pourra participer au financement de votre formation si vous êtes demandeur d’emploi et
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                    reconnu handicapé.
					<b>L’ agefiph</b>
					pourra également prendre en charge le coût de l’adaptation de
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                    formation à votre handicap : durée de la formation, aides techniques et humaines,
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                    transport… Si vous suivez une formation agréée par l’État ou par votre région, les conseils
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                    régionaux peuvent financer le coût de votre formation. Vous avez aussi la possibilité d’être
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															                    rémunéré pendant la durée de votre formation.
				</p>
			</div>

		</div>
	</div>
</section>
<style>
	.homepage-hero-banner {
		height: 100%;
		clip-path: ellipse(108% 70% at 50% 30%);
		margin-bottom: 52px !important;
		padding-bottom: 60px;
	}
	.title-underlined {
		display: block;
		background: none;
		font-size: 40px;
		font-weight: 600;
		width: fit-content;
		position: relative;
	}
	.arrow {
		position: absolute
	}
</style>{% endblock %}
