{% extends 'formation/base/base.formation_item.html.twig'%}
{% set formation_name = "Technicien systèmes et réseaux" %}
{% set formation_small_desc = "Vous aimez dépannez vos amis dans l'informatique et vous appréciez le réseau ? Alors cette formation est faite pour vous !" %}
{% set formation_desc_title = "Le metier de technicien(ne) réseaux" %}
{% set formation_long_desc = "Le/la technicien(ne) systèmes et réseaux est un(e) informaticien(ne) qui participe à l’installation, la configuration, la sécurisation et la maintenance des équipements informatiques et d’infrastructure IT d’une entreprise. Il/elle assure également la relation avec les usagers lors d’incidents techniques ou de prise de poste.
                        Le profil du/de la technicien(ne) systèmes et réseaux est celui d'un(e) technicien(ne) capable de comprendre les besoins en équipement, en configuration et maintenance des équipements IT. Il/elle suit des standards de gestion de services informatiques comme ITIL et des standards de sécurisation des équipements, notamment en appliquant les préconisations de l’ANSSI." %}
{% set place = "Mixte" %}
{% set student_number = "12" %}
{% set image = "Network-illustration" %}
{% set slug = "TSSR" %}

{% block formation_hero_info%}
    {{ include ('formation/components/formation_hero_info_item.html.twig', {icon: "fa-graduation-cap", description: "Equivalent BAC +2"}) }}
    {{ include ('formation/components/formation_hero_info_item.html.twig', {icon: "fa-clock", description: "Durée de 36 semaines"}) }}
{% endblock %}
{% block formation_skills_description %}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Assistance aux utilisateurs en centre de services"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Maintenance, Exploitation et sécurisation d’une infrastructure centralisée"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Maintenance, Exploitation et sécurisation d’une infrastructure distribuée "}) }}
{% endblock %}
{% block formation_keypoint_description %}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-clock", title: "Durée estimée :", description: "36 semaines"}) }}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-home", title: "Lieu :", description: "Presentiel ou distanciel"}) }}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-calendar", title: "Debut de formation :", description: "Toute l'année"}) }}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-graduation-cap", title: "Diplôme :", description: "Titre RNCP de niveau 5 (équivalent BAC + 2)"}) }}
{% endblock %}
{% block formation_goal %}
    {{ include ('formation/components/formation_goal.html.twig', {goal: "Le titre RNCP de Technicien Supérieur Systèmes et Réseaux (Niveau 5 ) en partenariat avec la région Occitanie."}) }}
{% endblock %}
{% block formation_job %}
    {{ include ('formation/components/formation_job.html.twig', {job: "Technicien(ne) systèmes et réseaux"}) }}
    {{ include ('formation/components/formation_job.html.twig', {job: "Technicien(ne) support"}) }}
    {{ include ('formation/components/formation_job.html.twig', {job: "Technicien(ne) réseau"}) }}
{% endblock %}
{% block formation_program %}

    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Bien démarrer ma formation", id: "item1",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Apprendre à apprendre", id: "item2",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Favoriser son Immersion", id: "item3",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Réussir son titre RNCP", id: "item4",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Assister les utilisateurs en centre de services", id: "item5",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Maintenir, exploiter et sécuriser une infrastructure centralisée", id: "item6",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Maintenir et exploiter une infrastructure distribuée et contribuer à sa sécurisation", id: "item7",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}

{% endblock %}
{% block formation_payment_solutions %}
    {{ include ('formation/components/formation_priceCard.html.twig', {payment_type: "Auto-financement", payment_subtitle: "A partir de", payment_amount: "0€", payment_description: "Vérifiez vos aides afin de trouver celle qui vous correspond, et ainsi pour ne rien à avoir à débourser."}) }}
    {{ include ('formation/components/formation_priceCard.html.twig', {payment_type: "Alternance", payment_subtitle: "Prise en charge à", payment_amount: "100%", payment_description: "Profitez de l'alternance qui subventionne à une hauteur de 100% votre formation."}) }}
    {{ include ('formation/components/formation_priceCard.html.twig', {payment_type: "Paiement en 4 fois", payment_subtitle: "A partir de", payment_amount: "72€/mois", payment_description: "Payez votre formation en 4 fois sans frais."}) }}
{% endblock %}
{% block formation_prerequired %}
    {{ include ('formation/components/formation_prerequired.html.twig', {pre_required: "Aucun pré-requis technique et de diplômes"}) }}
    {{ include ('formation/components/formation_prerequired.html.twig', {pre_required: "Très forte motivation pour s’engager dans une formation intense"}) }}
    {{ include ('formation/components/formation_prerequired.html.twig', {pre_required: "Bonne expression à l’oral et à l’écrit"}) }}
{% endblock %}