{% extends 'formation/base/base.formation_item.html.twig'%}
{% set formation_name = "Web Entrepreneur" %}
{% set formation_small_desc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis, enim non placerat dignissim" %}
{% set formation_long_desc = "Permettre à toute personne désirant créer son activité de e-commerce d’avoir une approche concrète et de maitriser l’ensemble des étapes.
La formation et les conseils prodigués concourront à la sécurisation et à la pèrennisation de l’activité.
Cette certification constituera un atout important pour rassurer et convaincre les investisseurs et/ou financeurs du projet.
Elle s’inscrit également dans le parcours d’un demandeur d’emploi ouvrant à une première expérience et à une polyvalence dans le domaine du e-commerce.
Enfin, elle peut s’adresser à toute personne exerçant une activité commerciale traditionnelle pour étendre son activité au e-commerce.
Ce parcours permet une découverte des dernières innovations marketing utilisées sur le web-marchand." %}
{% set formation_desc_title = "Web Entrepreneur" %}
{% set place = "Mixte" %}
{% set student_number = "12" %}
{% set image = "WebEntrepreneurBanner" %}
{% set slug = "Web_entrepreneur" %}

{% block formation_hero_info%}
    {{ include ('formation/components/formation_hero_info_item.html.twig', {icon: "fa-clock", description: "Durée de 4 semaines"}) }}
{% endblock %}
{% block formation_skills_description %}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Construire et maitriser son projet en mettant en avant ses atouts tout en étant conscient des freins et des contraintes."}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Analyser, évaluer le marché et identifier les cibles potentielles"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Concevoir un plan marketing et définir son seuil de rentabilité"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Concevoir, administrer et sécuriser un site de e-commerce"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Présenter et mettre en avant ses produits en utilisant des outils innovants en webmarketing"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Communiquer sur les réseaux sociaux et connaitre les leviers pour cibler sa clientèle"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Maitriser la relation client de la création du devis au service aprés-vente"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Présenter son projet et convaincre un financeur/investisseur"}) }}
{% endblock %}
{% block formation_keypoint_description %}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-clock", title: "Durée estimée:", description: "4 semaines"}) }}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-home", title: "Lieu:", description: "Presentiel ou distanciel"}) }}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-calendar", title: "Debut de formation", description: "Toute l'année"}) }}
{% endblock %}
{% block formation_goal %}
    {{ include ('formation/components/formation_goal.html.twig', {goal: "Un certificat de formation attestant de votre réussite"}) }}
{% endblock %}
{% block formation_job %}
    {{ include ('formation/components/formation_job.html.twig', {job: "Auto Entrepreneur"}) }}
    {{ include ('formation/components/formation_job.html.twig', {job: "Assistant en transition numérique"}) }}
    {{ include ('formation/components/formation_job.html.twig', {job: "Gestionnaire de site E-Commerce"}) }}
{% endblock %}
{% block formation_program %}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Microentreprise, le kit de démarrage", id: "item1",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Stratégie produit", id: "item2",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Créer son premier site de e-commerce", id: "item3",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Stratégie marketing", id: "item4",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
{% endblock %}
{% block formation_payment_solutions %}
    {{ include ('formation/components/formation_priceCard.html.twig', {payment_type: "Auto-financement", payment_subtitle: "A partir de", payment_amount: "1500€", payment_description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam"}) }}
    {{ include ('formation/components/formation_priceCard.html.twig', {payment_type: "Pole emploi ou autre organisme", payment_subtitle: "Prise en charge jusqu'à", payment_amount: "100%", payment_description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam"}) }}
    {{ include ('formation/components/formation_priceCard.html.twig', {payment_type: "Paiement en 3 fois", payment_subtitle: "A partir de", payment_amount: "500€/mois", payment_description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam"}) }}
{% endblock %}
{% block formation_prerequired %}
    {{ include ('formation/components/formation_prerequired.html.twig', {pre_required: "Aucun pré-requis technique et de diplômes"}) }}
    {{ include ('formation/components/formation_prerequired.html.twig', {pre_required: "Très forte motivation pour le numérique"}) }}
{% endblock %}