{% extends 'formation/base/base.formation_item.html.twig'%}
{% set formation_name = "Wordpress" %}
{% set formation_small_desc = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus iaculis, enim non placerat dignissim" %}
{% set formation_desc_title = "L'outil Wordpress" %}
{% set formation_long_desc = "WordPress est un système de gestion de contenu (SGC ou content management system (CMS) en anglais) gratuit, libre et open-source. Ce logiciel écrit en PHP repose sur une base de données MySQL et est distribué par la fondation WordPress.org. Les fonctionnalités de WordPress lui permettent de créer et gérer différents types de sites Web : site vitrine, site de vente en ligne, site applicatif, blog, portfolio, site institutionnel, site d'enseignement…" %}
{% set formation_desc_title = "L'outil Wordpress" %}
{% set place = "Mixte" %}
{% set student_number = "12" %}
{% set image = "WordpressBanner" %}
{% set slug = "Wordpress" %}

{% block formation_hero_info%}
    {{ include ('formation/components/formation_hero_info_item.html.twig', {icon: "fa-clock", description: "Durée de 10 jours"}) }}
{% endblock %}
{% block formation_skills_description %}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Installation de Wordpress"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Utilisation de Wordpress"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Optimisation de Wordpress"}) }}
    {{ include ('formation/components/formation_skills_description.html.twig', {icon: "fa-check-double", skills: "Securisation de Wordpress"}) }}
{% endblock %}
{% block formation_keypoint_description %}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-clock", title: "Durée estimée:", description: "10 Jours"}) }}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-home", title: "Lieu:", description: "Presentiel ou distanciel"}) }}
    {{ include ('formation/components/formation_keypoint_description.html.twig', {icon: "fa-calendar", title: "Debut de formation", description: "Toute l'année"}) }}
{% endblock %}
{% block formation_goal %}
    {{ include ('formation/components/formation_goal.html.twig', {goal: "Un certificat de formation attestant de votre réussite"}) }}
{% endblock %}
{% block formation_job %}
    {{ include ('formation/components/formation_job.html.twig', {job: "Développeur Wordpress"}) }}
    {{ include ('formation/components/formation_job.html.twig', {job: "Webmaster Wordpress"}) }}
{% endblock %}
{% block formation_program %}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Les cas d'utilisation de Wordpress", id: "item1",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Introduction aux Systèmes de gestion de contenu CMS", id: "item2",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Installer Worpress en local", id: "item3",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Comprendre l’interface d’administration", id: "item4",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Sélectionner, configurer et utiliser un thème", id: "item5",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Personnaliser un thème", id: "item6",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Sécuriser son site WordPress", id: "item7",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Optimiser son référencement SEO", id: "item8",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
    {{ include ('formation/components/formation_program_item.html.twig', {program_item_name: "Déployer son site en ligne", id: "item9",
        description: "Lorem ipsum dolor sit amet. Sed voluptatem voluptatum sit harum sint et beatae quis ut asperiores ratione sit incidunt voluptatum et placeat veniam! Ut molestiae iste qui aliquam deleniti hic dolores omnis vel nihil placeat sed tenetur vitae! Et expedita itaque ex cumque voluptatibus et odit molestias aut quia voluptate."
    }) }}
{% endblock %}
{% block formation_payment_solutions %}
    {{ include ('formation/components/formation_priceCard.html.twig', {payment_type: "Auto-financement", payment_subtitle: "A partir de", payment_amount: "1500€", payment_description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam"}) }}
    {{ include ('formation/components/formation_priceCard.html.twig', {payment_type: "Pole emploi ou autre organisme", payment_subtitle: "Prise en charge jusqu'à", payment_amount: "100%", payment_description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam"}) }}
    {{ include ('formation/components/formation_priceCard.html.twig', {payment_type: "Paiement en 3 fois", payment_subtitle: "A partir de", payment_amount: "500€/mois", payment_description: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam"}) }}
{% endblock %}
{% block formation_prerequired %}
    {{ include ('formation/components/formation_prerequired.html.twig', {pre_required: "Aucun pré-requis technique et de diplômes"}) }}
    {{ include ('formation/components/formation_prerequired.html.twig', {pre_required: "Très forte motivation pour le numérique"}) }}
{% endblock %}