{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}
{% block body %}
<div class="row p-0">
<div class="col-1 p-0 m-0" style="background=transparent">
<div class="sidenavB">
  <a href="#description">Description</a>
   <a href="#date">Dates</a>
  <a href="#financement">Financements</a>
  <a href="#prog">Programme</a>
    <a href="#skill">Moyens et suivi</a>
   
  <img class="w-100" src="{{ asset('img/qualiopi.png') }}" alt="home hero"/>
</div>
</div>
<div class="col-11">
    <main class="formation-main">
        {#/*-----------------------------------------Formation Hero Banner---------------------------------------------------------*/#}
        <section class="formation-hero-banner">
            <div class="d-flex flex-column hero-banner-content">
                <h1>{{ course.name }}</h1>
                <p>{{ course.courseShortDescription|raw }}</p>
                <div class="formation-hero-infos container-lg">
               <!-- <p><b>Date : </b>{{  course.courseAvailability }}</p>-->
                {# <p><b>À partir de: </b>  {{  course.coursePublic }} - <a href="#financement" style="text-decoration:underline">voir tarifs </a></p> 
                <p><b>Tarifs:</b><a href="#financement" style="text-decoration:underline;color:#ebdb4d">voir financements </a></p>#}

                       <p><b>Durée : </b>{{ course.courseDuration }} {{ course.courseDurationUnit|capitalize }}</p>
                <p><b>Format : </b>{{ course.courseFormat }}</p>
                
                    <p><b>Pour qui : </b>{{  course.coursePublic }}</p>
                    <p><b>Pré-requis : </b>{{  course.courseMarketingPrerequisite }}</p>
                    <p><b>Formateur référent : </b>{{  course.courseProfessor }}</p>
                    <p><b>Niveau de sortie : </b>{{ course.courseEndTitle }}</p>
                </div>
                {% if app.user %}
                    <a class="button button-secondary" role="button"  {# href="{{ path('nomination_personnal_info', {id: course.id}) }} #} href="{{ path('contact') }}">Je m'inscris</a>
                {% else %}
                    <a class="button button-secondary" role="button" href="{{ path('contact') }}">Je m'inscris</a>
                {% endif %}
                {% if course.courseDocumentation is not empty %}
      
                    <a  role="button" class="button button-lg button-outlined" style="width:320px" href="{{ asset('uploads/course_doc/' ~ course.courseDocumentation) }}" target="_blank">Télécharger le programme</a>
            {% endif %}
            </div>
            
                
            
	    </section>
        {#/*------------------------------------Contact block---------------------------------------------------#}
       <!-- <section>
            <div class="d-flex justify-content-around flex-wrap gap-5 container-lg">
                <div class="data-card mb-5 pb-5">
                    <img src="{{ asset('img/icon_students.png') }}" alt="icone étudiants"/>
                    <span>{{ course.courseStudentNumber }}</span>
                    <p>Apprenants</p>
                </div>
                <div class="data-card mb-5 pb-5">
                    <img src="{{ asset('img/icon_hourglass.png') }}" alt="icone sablier"/>
                    <span>{{ course.courseDuration }}</span>
                    <p>{{ course.courseDurationUnit|capitalize }}</p>
                </div>
                <div class="data-card mb-5 pb-5">
                    <img src="{{ asset('img/icon_certificate.png') }}" alt="icone certificat"/>
                    <span>{{ course.courseEndLevel }}</span>
                    <p>Niveau de sortie</p>
                </div>
            </div>
        </section>
        <section class="container-lg">
            <div class="d-flex justify-content-center mb-5 pb-5">
                <img src="{{ asset('img/seperator_line_1.png') }}" alt="ligne de séparation" style="max-width: 100%;"/>
            </div>
            <div class="d-flex justify-content-around flex-wrap mb-5  mx-lg-5 px-lg-5 pb-5 gap-5">
            {% if app.user %}
                    <a class="button button-secondary button-lg" role="button" href="{{ path('nomination_personnal_info', {id: course.id}) }}">Je m'inscris</a>
                {% else %}
                    <a class="button button-secondary button-lg" role="button" href="{{ path('login') }}">Je m'inscris</a>
                {% endif %}
             
                  
                  {% if course.coursePricing is not empty %}
      
                    <a  role="button" class="button button-lg button-outlined" href="{{ asset('uploads/course_doc/' ~ course.courseDocumentation) }}" target="_blank">Télécharger la brochure</a>
            {% endif %}
            </div>
        </section>-->
        {#/*-------------------------------------------Info Section---------------------------------------------------------------*/#}
        <section id="description" class="technicien-banner my-5">
           <!-- <img src="{{ asset('img/form-header.jpg') }}" alt="banner formation" class="technicien-banner-img w-100">-->
     
        </section>
        <section id="description" class="container-lg metier-section">
            <div class="d-flex flex-column">
                <img class="align-self-start" src="{{ asset('img/icon_handtool.png') }}" alt="icone outil">
                <h2  class="title-underlined title-primary mt-3 mb-5">Description</h2>
                <p id="date">{{ course.courseLongDescription|raw }}</p>
                <br>
                <h2  class="title-underlined title-primary mt-3 mb-5">Dates</h2>
                <br>

 {% if course.courseEndSkills is not empty %}
       {# endSkill étant présent deux fois il est utilisé pour les dates actuellement #}
    <table class="table mb-5">
  <thead>
    <tr>
      <th scope="col">Dates et lieux</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    
      {% for row in course.courseEndSkills %}
                      <tr><td>{{ row }}</td><td><a href="{{ path('contact') }}">Je m'inscris</a></td></tr>   
                        {% endfor %}
 
  </tbody>
</table>
                    
                 
                    {% endif %}


               
            
                <div class="skills-group my-5">
                    <p class="mb-3"><b>Compétences acquises en formation</b></p>
                    {% for row in course.courseInProgressSkills %}
                        <p class="mb-3"><i class="bi bi-check-circle-fill me-2"></i>{{ row }}</p>
                    {% endfor %}
                </div>
                <div class="d-flex gap-3 mb-5 align-items-center flex-column">
                    {% if app.user %}
                        <a class="button button-secondary button-lg" href="{{ path('contact')}}">Je m'inscris</a>
                    {% else %}
                        <a class="button button-secondary button-lg" role="button" href="{{ path('contact')}}">Je m'inscris</a>
                    {% endif %}
                    <p id="financement" class="text-muted mt-3">*Le formateur référent est susceptible de changer en fonction de la localité ou de la date de la formation choisie.</p>
                </div>
            </div>
        </section>
        {#/*----------------------------------------------------Price section----------------------------------------------------------*/#}
      {% if course.coursePricing is not empty %}
      
        <section  style="margin-left:-30%">
            <div class="pricing-bg" style="padding-left:20%">
                <div class="pt-5 pb-3 pt-lg-0">
                    <!--<img class="pricing-bg-line" src="{{ asset('img/ligne_rose-2.png') }}" alt="ligne arriere plan"/>-->

                    <div class="container-lg d-flex justify-content-center justify-content-lg-start mb-lg-4">
                        <h2 class="title-underlined title-white mb-5 px-0">Coût de la formation</h2>
                    </div>
                   

                    {% for row in course.coursePricing %}
                    <div class="d-flex flex-column flex-lg-row justify-content-lg-center gap-lg-4 mb-lg-5 position-relative">
                        <div class="pricing-short-description">
                            <p><b>{{ row.type }}</b></p>
                            <p class="mb-3">{{ row.subtitle }}</p>
                            <h3><small>{{ row.amount }}{#{{ row.unit }}#}</small></h3>
                        </div>
                        <div class="pricing-long-description d-lg-flex align-items-lg-center">
                            <p>{{ row.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                       
                    <div class="d-flex justify-content-center" id="prog">
                        <svg class="pricing-mobile-line" width="215" height="53" viewbox="0 0 215 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 29.7718C24.4545 -1.95703 64.1927 -1.89084 110.883 29.7718C145.639 53.3412 195.159 53.3401 209 21.6123" stroke="#FAA5A5" stroke-width="11" stroke-linecap="round" stroke-dasharray="17 30"/>
                        </svg>
                    </div>
                </div>
            </div>
            <p ></p>
        </section>
        {% endif %}
        {#/*----------------------------------------------------Program Block----------------------------------------#}
       
       {% if course.courseModules is not empty %}
        <section  class="formation-program">
            <div class="d-flex flex-column align-items-center justify-content-center px-3 py-5 container-lg g-0">
                <h2 class="title-underlined title-primary align-self-center mb-5">Programme de la formation</h2>
                {% for i, row in course.courseModules %}
                <div class="accordion-item px-sm-0" id="{{ 'panelsStayOpen-heading-' ~ i }}">
                    <div class="accordion-header">
                        <p class="d-flex align-items-center"><i class="bi bi-check-circle-fill me-2"></i>{{ row.moduleName }}</p>
                        <div class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="{{ '#panelsStayOpen-collapse-' ~ i }}" aria-expanded="false" aria-controls="{{ 'panelsStayOpen-collapse-' ~ i }}"><i class="bi bi-chevron-down"></i>
                        </div>
                    </div>
                    <div id="{{ 'panelsStayOpen-collapse-' ~ i }}" class="accordion-collapse collapse" aria-labelledby="{{ 'panelsStayOpen-heading-' ~ i }}">
                      <div class="accordion-body ps-sm-0">
                        <ul class="list-unstyled mb-0">
                            {% for item in row.moduleItems %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                {% endfor %}
               
            </div>
        </section>
           {% endif %}
        {#/*----------------------------------------------------Goals Block----------------------------------------#}
           
           {% if course.courseEndSkills is not empty %}
            <section id="skill" class="skills-section" style="margin-left:-30%">
                <div class="skills-bg d-flex flex-column text-white container-lg" style="padding-left:11%">
                    {# <div class="skills-items-group">
                        <h3>À la fin de votre formation vous serez capable de : </h3>
                        {% for row in course.courseEndSkills %}
                            <p><i class="bi bi-check-circle-fill me-2"></i>{{ row }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center">
                        <svg class="separator-line" width="215" height="53" viewbox="0 0 215 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 29.7718C24.4545 -1.95703 64.1927 -1.89084 110.883 29.7718C145.639 53.3412 195.159 53.3401 209 21.6123" stroke="#FAA5A5" stroke-width="11" stroke-linecap="round" stroke-dasharray="17 30"/>
                        </svg>
                    </div>
                    <div class="skills-items-group">
                        <h3>Pour réaliser ces activités, vous aurez acquis les compétences suivantes : </h3>
                        {% for row in course.courseActivities %}
                            <p><i class="bi bi-check-circle-fill me-2"></i>{{ row }}</p>
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center">
                        <svg class="separator-line" width="215" height="53" viewbox="0 0 215 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 29.7718C24.4545 -1.95703 64.1927 -1.89084 110.883 29.7718C145.639 53.3412 195.159 53.3401 209 21.6123" stroke="#FAA5A5" stroke-width="11" stroke-linecap="round" stroke-dasharray="17 30"/>
                        </svg>
                    </div> #}
                    <div class="skills-items-group">
                        <h3>Moyens pédagogiques, techniques et d'encadrement:</h3>
                        {% for row in course.courseEndGoals %}
                            <p>{{ row }}</p>
                        {% endfor %}
                    </div>
                       <div class="skills-items-group">
                        <h3>Suivi et évaluation pédagogique:</h3>
                        {% for row in course.courseActivities %}
                            <p><i class="bi bi-check-circle-fill me-2"></i>{{ row }}</p>
                        {% endfor %}
                    </div>
                 {% if course.courseEndJobs is not empty %}
                    <div class="skills-items-group">
                        <h3>Vous pourrez exercer les métiers de : </h3>
                        
                        {% for row in course.courseEndJobs %}
                            <p><i class="bi bi-check-circle-fill me-2"></i>{{ row }}</p>
                        
                        {% endfor %}

                    </div>
                    {% endif %}
                </div>
                
            </section>
               {% endif %}
        {#/*-------------------------------------------------------------------------Place section----------------------------------#}
        {# <section id="rythme" class="rythme-section">
            <div class="container-sm px-3">
                <h2 class="title-underlined title-primary">Rythme de la formation</h2>
                <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                    <p><b>Distanciel</b><br>
                    Ici nous parlons bien de e-learning, c'est à dire suivre un cours à distance via une plateforme numérique. L'apprenant peut être n'importe où et suivre l'enseignement où il veut. C'est là l'un des plus grands avantage de cette méthode d'apprentissage.</p>
                    <div class="img-rythme frame-right" style="background-image: url({{ asset('img/distanciel.jpg')}})"></div>
                </div>
                <div id="skill" class="d-flex flex-column flex-lg-row-reverse align-items-lg-center">
                    <p><b>Présentiel</b><br>
                    Ce n'est pas parce que vous êtes en présentiel que vous retournez sur les bancs de l'école ! Il existe de nombreux lieux d'apprentissage alternatifs, n'hésitez pas à nous contacter pour trouver la méthode qui vous correspond.</p>
                    <div class="img-rythme frame-left" style="background-image: url({{ asset('img/presentiel.jpg')}})"></div>
                </div>
              {% if course.coursePrerequisites is not empty %}
                <div class="prerequisites">
                    <h2 class="title-primary">Pré-requis d'accès à la formation</h2>
                    {% for row in course.coursePrerequisites %}
                    <p><i class="bi bi-check-circle-fill me-2"></i>{{ row }}</p>
                    {% endfor %}
                </div>
                 {% endif %}
                <div class="pedagogy-aw">
                    <h2 class="title-primary">La pédagogie Apprenti Webeur</h2>
                    {% set pedagogyItems = [
                        'Devenir un professionnel compétent',
                        'Équipe pedagogique technique et coach ou e-tuteur',
                        'Cours écrit et vidéo à la demande',
                        'Projets Professionnels',
                        'Implication de l\'entreprise',
                        'Personalisation des parcours'
                    ] %}
                    {% for item in pedagogyItems %}
                    <p><i class="bi bi-check-circle-fill me-2"></i>{{ item }}</p>
                    {% endfor %}
                </div>
            </div>
        </section> #}
        <section class="btn-candidature-section" style="margin-left:-30%">
            <div class="d-flex justify-content-center align-items-center h-100 " style="padding-left:20%">
                {% if app.user %}
                    <a class="button button-secondary button-lg mb-5" role="button" href="{{ path('contact')}}">Je m'inscris</a>
                {% else %}
                    <a class="button button-secondary button-lg mb-5" role="button" href="{{ path('contact')}}">Je m'inscris</a>
                {% endif %}
            </div>
        </section>
        <section class="d-flex justify-content-center">
            <img src="{{ asset('img/candidature-removebg.png') }}" alt="candidature">
        </section>
    </main>
   </div>
   </div> 
    <style>

@media screen and (max-width:1300px) {
   .sidenavB, div.p-0 .col-1 {
    display:none;
    
  }
  .col-11{width:100%} 
  .formation-hero-banner div {padding-left:10px}
.skills-section {margin-left:0px!important}

}
    .sidenavB {
  width: 200px;
  padding:12px;
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 10px;
  background: white;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenavB a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #4222c4;
  display: block;
}

.sidenavB a:hover {
  color: #064579;
}



@media screen and (max-height: 450px) {
  .sidenavB {padding-top: 15px;}
  .sidenavB a {font-size: 18px;}
}

main.formation-main .formation-hero-banner .hero-banner-content .formation-hero-infos p{color:white!important}
</style>
    </style>
{% endblock %}
