{% extends 'base.html.twig' %}
{% block title %}Apprenti webeur
{% endblock %}
{%
block body %}
	{#/*--------------------------------------------------Hero
																																																																																										Banner-------------------------------------------------*/#}
	<section class="homepage-hero-banner">
		<div class="d-flex flex-column">
			<div class="gap-3 d-flex flex-column container-lg hero-banner-content">
				{# <h1>Débuter votre formation en e-learning ou en présentiel à nos côtés</h1> #}
				<h1>Débuter votre formation sereinement à nos côtés</h1>
				<p>Des formations en E-learning ou présentiel</p>
				{# <p>Votre avenir débute avec nous</p> #}
				<a class="button button-secondary" role="button" href="#Nos_formation">En savoir plus</a>
				<section>

</section>
				<!--
																																																																																																																{% if app.user %}
																																																																																																																	<a class="button button-secondary" role="button" href="#Nos_formation">En savoir plus</a>
																																																																																																																{% else %}
																																																																																																																	<a class="button button-secondary" role="button" href="{{ path('register') }}">S'inscrire</a>
																																																																																																																{% endif %}-->
			</div>
			<div class="container-lg position-relative homepage-hero-img-container">
				<img class="homepage-hero-img" src="{{ asset('img/personna3.png') }}" alt="home hero"/>
				<svg class="hero-line" width="755" height="650" viewbox="0 0 755 717" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M3 714C20.9708 543.368 165.227 189.753 598.487 140.352C651.256 134.966 755.814 99.9546 751.893 3" stroke="white" stroke-width="6" stroke-linecap="round" stroke-dasharray="17 30"/>
				</svg>
				<svg class="hero-line-mobile" width="375" height="348" viewbox="0 0 375 348" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M-17 344.293C5.79977 250.291 112.954 63.4881 359.174 68.2909C389.116 69.2281 450.259 57.4851 455.303 3.01552" stroke="white" stroke-width="6" stroke-linecap="round" stroke-dasharray="17 30"/>
				</svg>
			</div>
		</div>
		<img class="img-white-cover-shape" src="{{ asset('img/white_cover_shape.png') }}" alt="white_cover_shape">
	</section>
	{#/*------------------------------------------------------------Data
			
																																																																																										section--------------------------------*/#}
	<div class="teaching-team-banner">
			<h2 class="container-lg title-underlined" style="color:#4222c4;margin-bottom:90px">
				Une équipe pédagogique qualifiée et certifiée
			</h2>
			<div class="container">
				<div class="row text-center">
					<div class="d-flex justify-content-around flex-wrap container-lg">
					<div class=""><img src="{{ asset('img/qualiopi.png') }}" style="width:200px;" alt="certifié datadock"/>
						<p class="mb-4" style="color:black;font-size:13px;width:200px;margin:auto;">« La certification qualité a été délivrée au titre de la catégorie d’action suivante : Actions de formation »</p>
					</div>
					<div class=""><img src="{{ asset('img/pix.png') }}" style="width:200px;" alt="certifié datadock"/>

					</div>
</div>
				</div>
			</div>
				<div class="d-flex justify-content-center mb-5 pb-5">
			<img src="{{ asset('img/seperator_line_1.png') }}" alt="ligne de séparation" style="max-width: 100%;"/>
		</div>
	<section>

		<div class="d-flex justify-content-around flex-wrap container-lg">
			<div class="data-card mb-5 pb-5">
				<img src="{{ asset('img/icon_stats_1.png') }}" alt="icone étudiant"/>
				<span>2500+</span>
				<p>étudiants suivis</p>
			</div>
			<div class="data-card mb-5 pb-5">
				<img src="{{ asset('img/icon_stats_2.png') }}" alt="icone satisfaction"/>
				<span>95%</span>
				<p>taux de satisfaction</p>
			</div>
			<div class="data-card mb-5 pb-5">
				<img src="{{ asset('img/icon_stats_3.png') }}" alt="icone trophé réussite"/>
				<span>100%</span>
				<p>taux de réussite</p>
			</div>
		</div>
	
	</section>



	{#/*------------------------------------------------------------Testimonials
																																																																																										section--------------------------------*/#}
	<!--	<section > <div class="container-lg py-5 d-flex flex-column testimonial-cards-container">
																																																																																					<div class="row">
																																																																																						{% set testimonialDatas = [ { author_name: "Henry", img:
																																																																																		    asset("img/img-contact1.png"), formation: "Développeur web junior",
																																																																																		    testimonial: "Le métier de développeur web est une superbe découverte" }, {
																																																																																		    author_name: "Laura", img: asset("img/img-contact2.png"), formation: "Web
																																																																																		    entrepreneuse", testimonial: "J'ai créé une entreprise en utilisant le web
																																																																																		    comme support" }, { author_name: "Bilal", img:
																																																																																		    asset("img/img-contact3.png"), formation: "Technicien réseau", testimonial:
																																																																																		    "Avant je trouvais mes études trop théoriques, merci Apprenti Webeur" } ] %}
																																																																																						{% for i in 0..2 %}
																																																																																							{% include "home/components/testimonial_card.html.twig"
																																																																																		    with {testimonialDatas, i} %}
																																																																																						{% endfor %}
																																																																																					</div>
																																																																																				</div>
																																																																																			</section> -->
	{#/*--------------------------------------------------Catégorie
																																																																																										Section------------------------------------------*/#}
		<section class="w-100 overflow-hidden position-relative" id="Nos_formation"> <div class="formation-bg">
			<div class="d-flex flex-column gap-5 py-5 align-items-center container-lg">
				<h2 class="title-underlined title-white">Nos formations</h2>
				<div class="formation-card-container gap-3">
					{% if categories|length < 1 %}
						<svg class="formation-card-mobile-line" width="215" height="53" viewbox="0 0 215 53" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 29.7718C24.4545 -1.95703 64.1927 -1.89084 110.883 29.7718C145.639 53.3412 195.159 53.3401 209 21.6123" stroke="#FAA5A5" stroke-width="11" stroke-linecap="round" stroke-dasharray="17 30"/>
						</svg>
					{% endif %}
					{% for category in categories|slice(0,6) %}
						{{ include("home/components/categoryCard.html.twig", {category} )}}
					{% endfor %}
				</div>
				<svg class="" width="215" height="53" viewbox="0 0 215 53" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6 29.7718C24.4545 -1.95703 64.1927 -1.89084 110.883 29.7718C145.639 53.3412 195.159 53.3401 209 21.6123" stroke="#FAA5A5" stroke-width="11" stroke-linecap="round" stroke-dasharray="17 30"></path>
				</svg>
				<!--<p style="color: white;
																																																																																																																																																																																																																																																																																																																	    font-size: 26px;
																																																																																																																																																																																																																																																																																																																	    font-weight: 700;
																																																																																																																																																																																																																																																																																																																	text-align:justify">Spécialisé dans la conception de contenu pédagogique à destination des organismes de formation, nous créons pour vous l’intégralité de vos parcours  en format présentiel, distanciel ou hybride. Nos experts sont à votre disposition sur plusieurs domaines de formation.</p>
				--><a class="button button-secondary mt-5" role="button" href="{{ path('app_catalogue') }}" style="margin-bottom:100px">Voir plus</a> 
			</div>
		</div>
	</section>
<section class="w-100 overflow-hidden position-relative" style="margin-top:50px"> <div class="">
			<div class="d-flex flex-column gap-5 py-5 align-items-center container-lg">
				<h2 class="title-underlined">Des formations sur mesures</h2>
				
			
				<p style="
																																																																																																																																																																																																																																																																																																																	    font-size: 26px;
																																																																																																																																																																																																																																																																																																																	    font-weight: 700;
																																																																																																																																																																																																																																																																																																																	text-align:justify">Spécialisé dans la conception de contenu pédagogique à destination des organismes de formation, nous créons pour vous l’intégralité de vos parcours  en format présentiel, distanciel ou hybride. Nos experts sont à votre disposition sur plusieurs domaines de formation.</p>
				<a class="button button-secondary mt-5" role="button" href="{{ path('app_pedagogie') }}" style="margin-bottom:100px">Nos services</a>
			</div>
		</div>
	</section>

	{#/*--------------------------------------------------Formation#}
	{#																											Section------------------------------------------*/#}
	{#<!--	<section class="w-100 overflow-hidden position-relative" id="Nos_formation">#}
	{#																			<div class="formation-bg">#}
	{#																				<div class="d-flex flex-column gap-5 py-5 align-items-center container-lg">#}
	{#																					<h2 class="title-underlined title-white">Nos formations</h2>#}
	{#																					<div class="formation-card-container gap-3">#}
	{#																						<img class="nosformations-bg-line" src="{{ asset('img/ligne_rose-2.png') }}" alt="ligne arriere plan"/>#}
	{#																						{% set formationDatas = [ { title: 'TSSR', type: 'Réseaux', image:#}
	{#																	        "Technicien supérieur systèmes et réseaux.png", level: "Equivalent#}
	{#																	        Bac+2", duration: "Environ 36 semaines" }, { title: 'Wordpress', type:#}
	{#																	        'CMS', image: "wordpress.png", level: "Certification", duration:#}
	{#																	        "Environ 9 semaines" }, { title: 'Web Entrepreneur', type: 'Web', image:#}
	{#																	        "web entrepreneurpng.png", level: "Certification", duration: "Environ 4#}
	{#																	        semaines" } ] %}#}
	{#																						{% for i in 0..formationDatas|length - 1 %}#}
	{#																							{{ include('home/components/formationCard.html.twig', {formationDatas, id:i + 1 }) }}#}
	{#																							{% if i < formationDatas|length - 1 %}#}
	{#																								<svg class="formation-card-mobile-line" width="215" height="53" viewbox="0 0 215 53" fill="none" xmlns="http://www.w3.org/2000/svg">#}
	{#																									<path d="M6 29.7718C24.4545 -1.95703 64.1927 -1.89084 110.883 29.7718C145.639 53.3412 195.159 53.3401 209 21.6123" stroke="#FAA5A5" stroke-width="11" stroke-linecap="round" stroke-dasharray="17 30"/>#}
	{#																								</svg>#}
	{#																							{% endif %}#}
	{#																						{% endfor %}#}
	{#																					</div>#}
	{#																				</div>#}
	{#																			</div>#}
	{#																		</section> -->#}
	{#*/------------------------------------------------Description#}
	{#																											Section--------------------------------------------*/#}
	
{% endblock %}
