{% extends 'base.html.twig' %}

{% block title %}Pédagogie AW
{% endblock %}

{% block body %}
	<section class="homepage-hero-banner">
		<div class="d-flex flex-column">
			<div class="gap-3 d-flex flex-column container-lg hero-banner-content">
				<h1 class="text-start">Un organisme de formation​</h1>
				<p>et bien plus.​</p>
				<a class="button button-secondary" role="button" href="#Nos_formation">En savoir plus</a>
				<!--
																																																																																																																												{% if app.user %}
																																																																																																																													<a class="button button-secondary" role="button" href="#Nos_formation">En savoir plus</a>
																																																																																																																												{% else %}
																																																																																																																													<a class="button button-secondary" role="button" href="{{ path('register') }}">S'inscrire</a>
																																																																																																																												{% endif %}-->
			</div>
			<div class="container-lg position-relative homepage-hero-img-container">
				<img class="homepage-hero-img" src="{{ asset('img/personna3.png') }}" alt="home hero"/>
				<svg class="hero-line" width="755" height="650" viewbox="0 0 755 717" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M3 714C20.9708 543.368 165.227 189.753 598.487 140.352C651.256 134.966 755.814 99.9546 751.893 3" stroke="white" stroke-width="6" stroke-linecap="round" stroke-dasharray="17 30"/>
				</svg>
				<svg class="hero-line-mobile" width="375" height="348" viewbox="0 0 375 348" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M-17 344.293C5.79977 250.291 112.954 63.4881 359.174 68.2909C389.116 69.2281 450.259 57.4851 455.303 3.01552" stroke="white" stroke-width="6" stroke-linecap="round" stroke-dasharray="17 30"/>
				</svg>
			</div>
		</div>
		<img class="img-white-cover-shape" src="{{ asset('img/white_cover_shape.png') }}" alt="white_cover_shape">
	</section>
	
	<section class="w-100 overflow-hidden position-relative"  id="Nos_formation">
		<div class="">
			<div class="d-flex flex-column gap-5 container-lg">
				<h4 class="title-underlined" style="font-size:30px">Apprenti webeur c'est:</h4>
				<div class="" style="font-size:1.3rem;">
					<p>
- Un organisme de formations, certifié qualiopi, avec une offre modulable de formations dans différents domaines (informatique, bureautique, sanitaire et social...). <br>
- Un OF spécialisé dans la conception de contenu pédagogique , nous créons pour vous l’intégralité des parcours en format présentiel, distanciel ou hybride. 

<br><br>
En plus de proposer des formations spécialisées notre objectif est de produire des services pour d’autres Organismes de formation. Voici quelques exemples de nos services : <br> <br>

 - La conception de contenus pédagogiques et des solutions de gestion, de diffusion et de suivi personnalisés. <br>
 - Une régie de formateurs mis à disposition des organismes de formation (200 profils tous métiers).  <br>
 - Une Web Agency offrant des solutions adaptées pour les entreprises (CMS, LMS, sites web, appli mobiles…). <br>
					 <br>																																																																		           
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="w-100 overflow-hidden position-relative">
		<div class="">
			<div class="d-flex flex-column gap-5 py-5  container-lg">
				<h4 class="title-underlined" style="font-size:30px">Ingénierie pédagogique</h4>
				<div class="" style="font-size:1.3rem;">
					<p>
						Nous prenons en charge la conception et la réalisation de contenu pédagogique. Notre équipe de spécialistes réalisera votre ingénierie pédagogique dans son intégralité en concevant un parcours de formation adapté à vos besoins.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			                    
					</p>
				</div>
			</div>
		</div>
	</section>
	<div class="gap-5 py-5 container-lg">
		<div class="accordion" id="accordionExample">
			{% if services is null or services|length < 1 %}
				Aucun service pour le moment
			{% else %}
				{% for service in services %}
					{{ include('pedagogie/components/accordion-item.html.twig', {service}) }}
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<section class="w-100 overflow-hidden position-relative" id="Nos_formation">
		<div class="">
			<div class="d-flex flex-column gap-5 py-5  container-lg">
				<h4 class="title-underlined" style="font-size:30px">Vidéos</h4>
				<div class="" style="font-size:1.3rem;">
					<p>
						Nous sommes à votre disposition pour tourner en studio vos modules pédagogiques e-learning. Nous sommes dans l’hybridation : le contenu pédagogique peut être constitué de contenu écrit et/ou de vidéos face caméra.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			                   
					</p>
				</div>

				<iframe class="elementor-video w-100" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="360" src="https://www.youtube.com/embed/uZes0bHIb2I?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fapprentiwebeur.com&amp;widgetid=1" id="widget2"></iframe>
				<p class="text-center">Tournage face caméra «le lavage des mains» dans le cadre du parcours DEAS Aide soignants.</p>
			</div>
		</div>
	</section>
	<section class="w-100 overflow-hidden position-relative" id="Nos_formation">
		<div class="">
			<div class="d-flex flex-column gap-5 py-5  container-lg">
				<h4 class="title-underlined" style="font-size:30px">Ils nous ont fait confiance.</h4>

			</div>
			<div class="row mt-5" style="
																																																																																																									    display: flex;
																																																																																																									    justify-content: center;
																																																																																																									">
				<img src="{{ asset('img/Academee.png') }}" style="width:150px;" alt="certifié datadock"/>
				<img src="{{ asset('img/afpa.png') }}" style="width:150px;" alt="certifié datadock"/>
				<img src="{{ asset('img/DC.png') }}" style="width:150px;" alt="certifié datadock"/>
				<img src="{{ asset('img/Simplon.png') }}" style="width:150px;" alt="certifié datadock"/>
				<img src="{{ asset('img/Simplon2.png') }}" style="width:150px;" alt="certifié datadock"/>
				<img src="{{ asset('img/Studi.png') }}" style="width:150px;" alt="certifié datadock"/>
				<img src="{{ asset('img/WF.png') }}" style="width:150px;" alt="certifié datadock"/>
			</div>
		</div>
		</section>
			<section>
			<div class="homepage-certificates-content d-flex flex-column gap-5 container-lg py-5 mt-5 g-0 px-3 px-lg-0"> <h4 class="title-underlined" style="font-size:30px">La méthodlogie AW</h4>
			<div class="d-flex flex-column certificates-items-group position-relative">
				<img class="progress-dashes-line" src="{{ asset('img/progress_dashes_section.png') }}" alt="ligne séparation pointillés"/>
				{% set certificatesDatas = [ { text: 'Des évaluations en cours de
      formation sont planifiées à la fin de chaque activité principale afin de
      permettre à l’apprenant de se situer par rapport aux attendus de la
      formation, d’être acteur de sa progression, d’identifier les points à
      améliorer.', img: 'icon_certificats_learning' }, { text: 'Les apprenants
      sont évalués tout au long de la formation, sur leur capacité à réaliser
      des projets professionnels en lien avec l’exercice du métier visé. Toutes
      ces réalisations constituent leur premier “portfolio” et démontrent leur
      capacité à être efficient dans un environnement de travail.', img:
      'icon_certificats_table' }, { text: 'Un questionnaire, une Mise en
      Situation Professionnelle ainsi qu’une soutenance finale devant un jury de
      professionnels pour le titre professionnel de niveau III.', img:
      'icon_certificats_charts' } ] %}
				{% for i in 0..certificatesDatas|length - 1 %}
					<div class="certificates-items {{ i % 2 == 0 ? 'img-right' : 'img-left' }}">
						<img src="{{ asset('img/' ~ certificatesDatas[i].img ~ '.png') }}" alt="{{ certificatesDatas[i].img }}"/>
						<p>{{ certificatesDatas[i].text }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="teaching-team">
		<div class="teaching-team-banner">
			<h2 class="container-lg title-underlined title-white">
				Une équipe pédagogique qualifiée et certifiée
			</h2>
			<div class="container">
				<div class="row d-flex justify-content-center">
					
					<div class="col-md-4 text-center"><img src="{{ asset('img/qualiopi.png') }}" style="width:200px;" alt="certifié datadock"/>
						<p class="mb-4" style="color:white;font-size:13px;width:200px;margin:auto;">« La certification qualité a été délivrée au titre de la catégorie d’action suivante : Actions de formation »</p>
					</div>
					<div class="col-md-4 text-center"><img src="{{ asset('img/pix.png') }}" style="width:200px;" alt="certifié datadock"/>

					</div>

				</div>
			</div>

		</div>
		<div class="container-lg">
			<div class="row">
				<div class="col-12 col-sm-8">
					<p>
						<b>
							La formation est assurée par une équipe pédagogique
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																            pluridisciplinaire pour accompagner les apprenants en fonction des
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																            modalités et sensibilisée sur notre engagement en matière d'accueil
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																            des personnes en situation de handicap.
						</b>
					</p>
					<p>
						<b>Des formateurs :
						</b>Construction du plan de formation, Choix des
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						          supports et projets pédagogiques, illustration des modules et Unités
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						          pédagogiques, Accompagnement technique.
					</p>
					<p>
						<b>Un coach/e-tuteur :
						</b>Intervient à 3 niveaux :
						<br/>
						méthodologique (en partageant une méthode travail), pédagogique (en
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						          s’assurant que les stagiaires atteignent leurs objectifs) et social
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						          (en motivant les participants).
					</p>
					<p>
						<b>Un Responsable de dispositif :
						</b>Coordination générale du projet,
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																						          administration, fonction support
					</p>
				</div>
				<div class="col-12 col-sm-4 d-flex align-items-center justify-content-center">
					<img src="{{ asset('img/equipe_swirly_line.png') }}" alt="ligne pointillés"/>
				</div>
			</div>
		</div>
	</section>
	
		<style>
			.title-underlined {
				display: block;
				background: none;
				font-size: 40px;
				font-weight: 600;
				width: fit-content !important;
				position: relative;
			}
		</style>
	{% endblock %}
