{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <main class="vh-100">
        <section class="bg-img-section">
            <section class="bg-white rounded-3 login-section p-3 shadow-base mx-3 container-sm">
                <div class="w-100 d-flex flex-column gap-3">
                    <p>
                        Si un compte est relié à votre email vous allez recevoir un mail de reinitialisation de mot de passe.
                        Si toutefois ce denier n'était pas reçu veuillez vérifier votre dossier Spam.
                        Vous devez réinitialiser votre mot de passe avant {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p>Si le mail n'a toujours pas été reçu veuillez <a href="{{ path('app_forgot_password_request') }}" class="text-primary text-decoration-underline"> Cliquez ici</a>.</p>
                    <p class="fw-bold"><a href="{{ path('home') }}" class="text-primary text-decoration-underline fw-bold">Cliquez ici</a> pour retourner sur la page d'acceuil</p>
                </div>
            </section>
        </section>
    </main>
{% endblock %}
