{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}
{% block body %}
<main class="login-main">
        <section class="d-flex flex-column flex-sm-row-reverse">
            <div class="login-hero-banner">
                <div class="login-hero-banner-img" style="background-image: url({{ asset('img/login_bg.jpg') }})"></div>
            </div>
            <div class="m-4 pt-sm-5 login-form-bloc">
                {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <h1 class="title-underlined title-primary mb-5">Réinitialiser votre mot de passe</h1>
                {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div class="mb-3">
                    <small>
                        Veuillez saisir votre adresse mail.
                        Nous allons vous envoyer un mail de réinitialisation.
                    </small>
                </div>
                <button class="button button-secondary mb-3 w-100 h-100">Envoyer le mail de réinitialisation</button>
                {{ form_end(requestForm) }}
            </div>
        </section>
    </main>
{% endblock %}

