{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    <main class="vh-100">
        <section class="bg-img-section">
            <section class="bg-white rounded-3 login-section p-3 shadow-base mx-3">
                <div class="w-100">
                    <h1 class="mb-3">Réinitialiser votre mot de passe</h1>
                    {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <div class="mt-3 d-flex justify-content-center">
                        <button class="btn">Réinitialiser le mot de passe</button>
                    </div>
                    {{ form_end(resetForm) }}
                </div>
            </section>
        </section>
    </main>
{% endblock %}

