{% extends 'base.html.twig' %}

{% block title %}Accès aux personnes en situation de handicap
{% endblock %}

{% block body %}
	


<section class="">
	<div class="d-flex flex-column gap-5 container-lg py-5 g-0 px-3 px-lg-0">
		
		<h2 class="title-underlined" style="color:#4222c4;">Quel financement pour votre formation ?</h2>
		<div class="">
			<div class="">
				<p class="" style="font-size:1.3rem;">
                Quelle que soit votre situation : salarié ou demandeurs d’emploi, des solutions existent pour financer votre
parcours de formation. Nous sommes à votre disposition pour vous donner toutes les informations et trouver
la solution la plus pertinente selon votre profil et votre choix de formation.
                </p>
			</div>

		</div>
          <div class="d-flex  flex-column">
    <a class="button button-secondary" style="" role="button" href="{{ path('contact') }}">Contact</a>
    <div>
	</div>
    
</section>

<section class="">
	<div class="d-flex flex-column gap-5 container-lg py-5 g-0 px-3 px-lg-0">
		

		<h2 class="title-underlined title-underlined mb-5" style="color:#4222c4;">Dispositifs mobilisables par les individus</h2>
		<div class="">
			<div class="" style="font-size:1.3rem;">
           	
                <p><b>-  Le Compte Personnel de Formation (CPF) :</b> Le compte personnel de formation (CPF) est utilisable tout au long de votre vie active (y compris en période de chômage) pour suivre une formation qualifiante ou certifiante.  </p> <br>
		
		<ul><li>Pour les demandeurs d'emploi</li></ul>

                <p><b>L’Aide Individuelle à la Formation (AIF):</b> accordée sous conditions, et versée directement à l’organisme de formation. Elle permet la prise en charge des frais pédagogiques de la formation. L’AIF peut être mobilisée pour  compléter le financement d’une formation financée par le CPF.</p>
				<p>Pour en savoir plus : <a href="https://www.pole-emploi.fr/candidat/en-formation/mes-aides-financieres/laide-individuelle-a-la-formatio.html" style="text-decoration:underline">L'Aide individuelle à la formation - Pôle emploi</a></p> <br>
		
               <p><b>La Préparation Opérationnelle à l’Emploi (POE):</b> est une formation co-construite par l’entreprise ou la branche professionnelle et Pôle emploi pour permettre aux demandeurs d’emploi d’acquérir, ou de développer, les compétences professionnelles nécessaires pour être embaucher.</p>
				<p>Pour en savoir plus : <a href="https://travail-emploi.gouv.fr/le-ministere-en-action/pic/poe-pic" style="text-decoration:underline">Préparation opérationnelle à l'emploi</a></p>  <br>
		
<ul><li>Pour les Salariés</li></ul>


                 <p><b>Le Projet de transition professionnelle (PTP):</b> (se substitue au Congé Individuel de Formation-CIF), permet aux salariés souhaitant changer de métier ou de profession de financer des formations certifiantes en lien avec leur projet. Le salarié peut bénéficier d’un droit à congé et d’un maintien de sa rémunération pendant la durée de la formation.
</p>
				<p>Pour en savoir plus : <a href="https://www.service-public.fr/particuliers/vosdroits/F14018" style="text-decoration:underline">Le Projet de transition professionnelle</a></p> <br>
			
			</div>
		</div>
	</div>
   
</section>
<section class="mb-5">
	<div class="d-flex flex-column gap-5 container-lg py-5 g-0 px-3 px-lg-0">
		

		<h2 class="title-underlined title-underlined mb-5" style="color:#4222c4;">Dispositifs mobilisables par les entreprises</h2>
		<div class="">
			<div class="" style="font-size:1.3rem;">
           	
                <p>Pour développer les compétences de vos collaborateurs, vous pouvez mobiliser :</p> <br>
		
	

                <p><b>Le dispositif Pro A – Reconversion ou promotion par l’alternance:</b> votre OPCO prend en charge tout ou partie des frais de formation réalisés selon un montant déterminé par accord de branche (ou, à défaut, par décret).</p>
				<br>
		
               <p><b> Le Plan de développement des compétences : </b> il permet aux salariés de suivre des formations en situation de travail (FEST), des formations en présentiel ou en distanciel.</p>
		  <br>
		



                 <p><b>Le FNE-Formation :</b> permet aux salariés d'entreprises faisant face à des mutations économiques et techniques, d'accéder facilement à la formation professionnelle.

</p>
				<p>Pour en savoir plus : <a href="https://travail-emploi.gouv.fr/emploi/accompagnement-des-mutations-economiques/appui-aux-mutations-economiques/fne-formation" style="text-decoration:underline">Le FNE-Formation</a></p> <br>

				<p><b> Les « Transitions Collectives » :</b> ce dispositif permet aux salariés d'entreprises en difficultés de se reconvertir ou d'évoluer dans leur carrière vers des secteurs qui recrutent. Pendant toute la durée de la formation, le salarié conserve sa rémunération et son contrat de travail.


</p>
				<p>Pour en savoir plus : <a href="https://travail-emploi.gouv.fr/actualites/l-actualite-du-ministere/article/transitions-collectives-le-nouveau-parcours-de-formation-pour-anticiper-et" style="text-decoration:underline">Les transitions collectives.</a></p> <br>

				<p><b> Contrat en alternance :</b>ces formations sont financées par l’OPCO dont dépend l’entreprise d’accueil.  
<br>
<p>Renseignez-vous auprès de nos collaborateurs et consultez votre OPCO.
</p>


</p>
			<br><br>
			<h2 class="title-underlined title-underlined mb-5" style="color:#4222c4;">Autre situations individuelles</h2>
			<p>Il existe également des dispositifs spécifiques pour les personnes en situation de handicap, les indépendants, etc.</p>
			</div>
		</div>
	</div>
    <div class="d-flex gap-3 mb-5 align-items-center flex-column">
    <a class="button button-secondary" style="width:360px" role="button" href="{{ path('contact') }}">Faire un point sur ma situation</a>
    <div>
</section>
<style>
	.homepage-hero-banner {
		height: 100%;
		clip-path: ellipse(108% 70% at 50% 30%);
		margin-bottom: 52px !important;
		padding-bottom: 60px;
	}
	.title-underlined {
		display: block;
		background: none;
		font-size: 40px;
		font-weight: 600;
		width: fit-content;
		position: relative;
	}
	.arrow {
		position: absolute
	}
</style>{% endblock %}

