<div class="rounded-3 w-100 d-flex gap-3 border-grey rounded-2 align-items-center border p-3 justify-content-between">
    <div class="d-flex flex-column gap-3">
        <p class="fw-bold">{{ diploma.title }}</p>
        <span>{{ diploma.description }}</span>
    </div>
    <span class="text-blue fw-bold">{{ diploma.year | date("Y") }}</span>
</div>