<div class="d-flex gap-3 w-100 border border-grey p-3 align-items-center justify-content-between rounded-3">
    <div class="d-flex flex-column gap-3">
        <p class="fw-bold">{{ job.jobTitle }}</p>
        <span>{{ job.companyName }}</span>
    </div>
    <span class="text-blue">{{ job.beginingDate | date("d-M-Y", "Europe/Paris") }}</span>
</div>