{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{% extends "@!EasyAdmin/crud/detail.html.twig" %}

{% macro render_field(entity, field) %}
    <div class="{% if field.customOption("fieldType") != "relationField"%}
                    data-row
                {% else %}
                    d-flex
                    flex-column
                {% endif %}
                {{ field.cssClass }}"
    >
        {% if field.customOption("fieldType") != "relationField"%}
            <dt>
                {{ field.label|raw }}

                {% if field.help is not empty %}
                    <span class="data-help">
                        <i class="far fa-question-circle" data-bs-toggle="tooltip" title="{{ field.help|e('html_attr') }}"></i>
                    </span>
                {% endif %}
            </dt>
        {% endif %}
        <dd>
            {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
        </dd>
    </div>
{% endmacro %}

{% block main %}
    {% block detail_fields %}
        {% set form_panel_is_already_open = false %}
        {% for field in entity.fields %}
            {% set is_form_field_panel = 'field-form_panel' in field.cssClass %}

            {% if is_form_field_panel or (loop.first and not is_form_field_panel) %}
                {% if form_panel_is_already_open %}
                    {{ _self.close_form_field_panel() }}
                    {% set form_panel_is_already_open = false %}
                {% endif %}

                {{ _self.open_form_field_panel(is_form_field_panel ? field : null) }}
                {% set form_panel_is_already_open = true %}
            {% endif %}

            {% block detail_field %}
                {% if not is_form_field_panel %}
                    {{ _self.render_field(entity, field) }}
                {% endif %}
            {% endblock %}
        {% endfor %}

        {{ _self.close_form_field_panel() }}
    {% endblock %}

    {% block delete_form %}
        {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { entity_id: entity.primaryKeyValue }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}