{% extends "@!EasyAdmin/crud/new.html.twig" %}

{% block main %}
        {% block new_form %}
            {{ form_start(new_form) }}
            {{ form_row(new_form.email) }}
            {{ form_row(new_form.firstname) }}
            {{ form_row(new_form.lastname) }}
            {{ form_row(new_form.password) }}
            {{ form_row(new_form.phone) }}
            {{ form_row(new_form.Adress) }}
            <div class="flex-fill"></div>
            {{ form_row(new_form.roles) }}
            {{ form_end(new_form) }}
        {% endblock %}
{% endblock %}