{% extends "@!EasyAdmin/crud/edit.html.twig" %}

{% block main %}
        {% block edit_form %}
            {{ form_start(edit_form) }}
            {{ form_row(edit_form.email) }}
            {{ form_row(edit_form.firstname) }}
            {{ form_row(edit_form.lastname) }}
            {{ form_row(edit_form.phone) }}
            {{ form_row(edit_form.Adress) }}
            <div class="flex-fill"></div>
            {{ form_row(edit_form.roles) }}
            {{ form_end(edit_form) }}
        {% endblock %}
{% endblock %}