<div class="price-card">
    <h3 class="price-card-title">{{ payment_type }}</h3>
    <span class="price-card-subtitle">{{ payment_subtitle }}</span>
    <span class="price-card-data">{{payment_amount}}</span>
    <hr/>
    <p>{{ payment_description }}</p>
</div>