<div class="w-100 bg-white rounded-2">
    <a href="#{{ id }}"
       class="d-block w-100 d-flex flex-column justify-content-between align-items-center  p-2 px-3"
       role="button"
       aria-controls="{{ id }}"
       aria-expanded="false"
       data-bs-toggle="collapse"
    >
        <div class="d-flex gap-3 align-items-center justify-content-between w-100 fw-bold">
            <span>{{program_item_name}}</span>
            <i class="fas fa-plus-circle icon-blue"></i>
        </div>
        <div class="collapse w-100 mt-3" id="{{ id }}">
            <div class="h-100 w-100">
                <p class="text-black">{{ description }}</p>
            </div>
        </div>
    </a>
</div>
