<div class="d-flex align-items-start gap-3">
    <i class="fas {{ icon }} fa-lg icon-blue" id="modal-icon"></i>
    <div class="d-flex flex-column">
        <h3>{{ title }}</h3>
        <span class="mt-1">{{ description }}</span>
    </div>
</div>