<div class="d-flex gap-3 align-items-center p-2 rounded-2 border border-2 border-grey justify-content-center">
    <i class="fas fa-pen fa-lg icon-blue m-0"></i>
    <span>{{pre_required}}</span>
</div>