{% extends 'base.html.twig' %}

{% block title %}Work in progress{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="vh-100 vw-100 d-flex align-items-center justify-content-center">
        <div class="p-3 d-flex flex-column rounded-2 align-items-center justify-content-center w-75 gap-3">
            <img src="{{ asset('/img/logo.png') }}" alt="">
            <p class="display-3">Work in progress</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
