@import "variables";
@import "mixins";
@import "grid";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*------------------------------------------General------------------------------------------------------*/
*{
  box-sizing: border-box;
}
body {
  font-family: $primary-font;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

span{
  margin: 0;
}

/*------------------------------------------------------Dropdown-----------------------------------------------------------*/
.aw-dropdown-trigger{
  position: relative;
  display: flex;
  .fa-chevron-down{
    transition: .2s all ease-in-out;
  }
  &:hover{
    .fa-chevron-down{
      transform: rotate(180deg);
    }
    .aw-dropdown-content{
      max-height: 1000px;
    }
  }
  @include media-min("desktop-small-min"){
    display: none;
  }
}
.aw-dropdown-content{
  position: absolute;
  top: 100%;
  background: $secondary;
  max-height: 0;
  overflow: hidden;
  transition: .2s height ease-in-out;
  width: 100%;
}
.aw-dropdown-icon-item{
  display: flex;
  gap: $spacer-3;
  padding: $spacer-3;
}
/*------------------------------------------------------Links-----------------------------------------------------------*/

.primary-link {
  color: $new-primary;
  text-decoration: underline;
  &:hover{
    color: #4C29DB;
  }
}


/*------------------------------------------Sass generation------------------------------------------------------*/
@each $name,$bk in $grid-breakpoints{
  @each $width, $value in $widths{
    .w-#{$width}-#{$name}{
      @media screen and (min-width: $bk){
        width: $value;
      }
    }
  }
}

@each $name,$value in $grid-breakpoints{
  .container-#{$name}{
    max-width: $value;
  }
}
