.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  gap: $spacer-3;
  justify-items: center;
}

@for $i from 0 through 6{
  @if $i == 0{
    .grid-layout{
      @include media-breakpoint-up(md){
        grid-template-columns: 1fr 1fr;
      }
      @include media-breakpoint-up(lg){
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  } @else {
    @for $j from 1 through 6{
      .grid-layout-#{$i}-#{$j}{
        @include media-breakpoint-up(md){
          grid-template-columns: repeat($i, 1fr);
        }
        @include media-breakpoint-up(lg){
          grid-template-columns: repeat($j, 1fr);
        }
      }
    }
  }
}