@import "variables";

@mixin button($border-color: $primary, $text-color: $secondary, $bg-color: $primary, $large:true, $border:true, $py: $spacer-2){
  @if $large {
    width: 100%;
  } @else {
    width: auto;
  }
  @if($border){
    border: 2px solid $border-color;
  } @else {
    border: none;
  }
  border-radius: 50px;
  padding: $py $spacer-3;
  background: $bg-color;
  color: $text-color;
  a{
    display: block;
    color: $text-color;
    width: 100%;
    height: 100%;
  }
  svg{
    path{
      color: $text-color;
    }
  }
  &:hover{
    background: $secondary;
    a{
      color: $primary;
    }
    svg{
      path{
        color: $primary
      }
    }
  }
}

@mixin media-min($breakpoint){
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content
  }
}

@mixin media-max($breakpoint){
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content
  }
}

@mixin media-between($breakpoint_min, $breakpoint_max){
  @media screen and (min-width: map-get($breakpoints, $breakpoint_min)) and (max-width: map-get($breakpoints, $breakpoint_max)){
    @content
  }
}