@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

$font-primary-color: #4A4A4A;
$font-secondary-color: #707070;
$font-blue-color: #3F78B9;
$font-green-color: #30C1A5;
$new-primary: #4222C4;
$new-secondary: #EBDB4D;
$new-tertiary: #FAA5A5;
/*------------------------------------------Font----------------------------------------------------------*/
$primary-font: 'Outfit', sans-serif;;
/*------------------------------------------Shadows----------------------------------------------------------*/
$shadow-base: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
/*------------------------------------------Background color----------------------------------------------------------*/
$bg-color-blue: #e6f2ff;
$bg-color-grey: #4A4A4A;
$aw-yellow-color: #e6df38;
/*------------------------------------------Breakpoints----------------------------------------------------------*/
$breakpoints: (
  "mobile-min": 360px,
  "mobile-max": 480px,
  "tablet-min": 481px,
  "tablet-max": 767px,
  "desktop-small-min": 900px,
  "desktop-small-max": 1024px,
  "desktop-large-min": 1025px,
  "desktop-large-max": 1200px
);
/*----------------------------------------Spacing-----------------------------------------------------------------*/
//This spacer is used to rely on bootstrap default spacers map.
$spacer-1: map-get($spacers, 1);
$spacer-2: map-get($spacers, 2);
$spacer-3: map-get($spacers, 3);
$spacer-4: map-get($spacers, 4);
$spacer-5: map-get($spacers, 5);
/*----------------------------------------Width-----------------------------------------------------------------*/
//This width map is used to define width utility classes.
$widths:(
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
)