.button {
  border-radius: 9px;
  padding: 0.5rem 1rem;
  color: $new-primary;
  font-size: 22px;
  border: none;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease, border .05s ease-in-out, box-shadow .2s ease;
  width: 198px;
  height: 58px;
  @media screen and (min-width: 576px) {
    width: 220px;
    height: 65px;
  }
}
.button-secondary {
  background-color: $new-secondary;
  &:hover {
    background-color: #FCEB54;
    border: 2px solid $new-primary;
    color: $new-primary;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  }
}
.button-primary {
  background-color: $new-primary;
  color: white;
  &:hover {
    background-color: #211068;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  }
}
.button-outlined {
  background-color: white;
  border: 2px solid $new-primary;
  color: $new-primary;
  &:hover {
    color: white;
    background-color: #211068;
    border: 2px solid #211068;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
}
.button-lg {
  width: 300px;
}