input.form-control, textarea.form-control {
  border-radius: 10px;
  border: 1px solid #ADACAC;
  transition: all .2s ease-in-out;
  height: 56px;
  @media screen and (min-width: 768px) {
    height: 65px;
  }
  &:active {
    border: 3px solid $new-primary;
  }
  &:focus {
    box-shadow: 0 0 0px .25rem #fff1d3;
    border-color: #ADACAC;
  }
}
textarea.form-control {
  height: 168px;
  resize: none;
}
label, legend {
  font-size: 18px;
  @media screen and (min-width: 768px) {
    font-size: 22px !important;
  }
}
select.form-select {
  border-radius: 10px;
  border: 1px solid #ADACAC;
  transition: all .2s ease-in-out;
  height: 56px;
  @media screen and (min-width: 768px) {
    height: 65px;
  }
  &:active {
    border: 3px solid $new-primary;
  }
  &:focus {
    box-shadow: 0 0 0px .25rem #fff1d3;
    border-color: #ADACAC;
  }
}