/*--------------------------------------------------Titles-----------------------------------------------------------*/
.title-underlined {
  display: block;
  background: none;
  font-size: 40px;
  font-weight: 600;
  width: min-content;
  position: relative;
  @media screen and (min-width: 576px) {
    width: fit-content;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: $new-tertiary;
    left: 0;
    bottom: -12px;
  }
  &.title-white {
    color: white;
  }
  &.title-primary {
    color: $new-primary;
  }
}