
.data-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  img {
    width: 120px;
  }
  span {
    color: $new-primary;
    font-weight: 700;
    font-size: 80px;
    padding: 20px 0;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(50% - 10px);
      transform: translateX(-50%);
      background-color: $new-secondary;
      width: 180px;
      height: 12px;
      margin: 0 10px;
    }
  }
  p {
    font-size: 1.5rem;
    color: $dark;
    font-weight: 400;
    margin-top: 20px;
  }

}