@import "../General_settings/variables";
@import "../General_settings/mixins.scss";
footer {
  background-color: $new-primary;
  color: white;
  h3, p, a {
    font-size: 18px;
    @media screen and (min-width: 992px) {
      font-size: 18px;
    }
  }
  h3 {
    font-weight: 700;
    margin: 20px 0;
  }
  p,
  a {
    font-weight: 200;
  }
  .contact {
    svg {
      &.fa-map-marker-alt {
        transform: scale(2.3);
        transform-origin: left;
      }
      &.fa-envelope-open {
        transform: scale(1.6);
        transform-origin: left;
      }
    }
  }
  .social {
    .fa-linkedin {
      transform: scale(2);
      transform-origin: left;
    }
  }
  .footer-copyright {
    position: relative;
    svg {
      // margin-bottom: -10px;
    }
    p {
      text-align: center;
      font-size: 14px;
      padding-bottom: 15px;
      padding-top: 5px;
    }
  }
}
