.formation-card-navigator{
  display: block;
  margin: 0;
}

.formation-card-mobile-line {
  margin-top: 80px;
  margin-bottom: 60px;
  @media screen and (min-width: 576px) {
    display: none;
  }
}
.formation-card {
  width: 280px;
  margin: 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 576px) {
    margin-bottom: 50px;
  }
  h3{
    color: white;
    font-size: 26px;
    font-weight: 700;
  }
  .formation-card-content {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 20px 20px;
    border-bottom: 13px solid $new-tertiary;
    .button-secondary {
      font-weight: 500;
      font-size: 20px;
    }
    .formation-card-info {
      display: flex;
      align-items: center;
      gap: 15px;
      height: 48px;
      span {
        font-family: $primary-font;
        color: $dark;
      }
    }
  }
}