@import "../General_settings/variables";
@import "../General_settings/mixins";
header {
  z-index: 999;
  padding: 15px 0;
  background-color: $new-primary;
  font-family: $primary-font;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  span.company-name {
    font-size: 18px;
    font-weight: 400;
    transition: 0.2s;
    &:hover {
      color: $new-secondary;
    }
  }
  .nav-aw {
    .nav-aw-links {
      display: none;
      align-items: center;
      gap: 20px;
      @media screen and (min-width: 992px) {
        display: flex;
      }
      > a {
        font-size: 18px;
        font-weight: 400;
        padding: 5px 0;
        transition: color 0.3s ease;
        &:hover {
          color: $new-secondary;
          padding-bottom: 3px;
          border-bottom: 2px $new-secondary solid;
        }
        &.btn-connect {
          width: 120px;
          height: 32px;
          font-size: 15px;
          border: solid white 1px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          padding: 0;
          transition: 0.2s;
          &:hover {
            border-color: $new-secondary;
            background-color: $new-secondary;
            color: $new-primary;
            font-weight: 600;
          }
        }
      }
    }
  }

  a[data-aw-menu] {
    cursor: pointer;
    display: block;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }
  .aw-mobile-menu-content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
  }
  .aw-mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    transition: 0.2s width ease-in-out;
    background: $new-primary;
    @media screen and (min-width: 992px) {
      display: none;
    }
    .aw-mobile-menu-overlay {
      background: rgba(0, 0, 0, 0.4);
    }
    .aw-mobile-item {
      text-align: center;
      gap: $spacer-3;
      padding: $spacer-3;
      align-items: center;
      justify-content: center;
      a {
        color: white;
      }
      &:hover {
        background: #2f1599;
        cursor: pointer;
        > a {
          color: $new-secondary;
        }
      }
    }
    .aw-mobile-item-bar {
      padding: $spacer-3;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .item-dropdown-trigger {
    position: relative;
    .fa-chevron-down {
      transform: rotate(360deg);
      transition: 0.2s all ease-in-out;
    }
    &:hover {
      .fa-chevron-down {
        transform: rotate(180deg);
      }
      .aw-mobile-item-dropdown {
        height: 100px;
        margin-top: $spacer-3;
      }
      .aw-nav-item-dropdown {
        height: fit-content;
      }
      > a {
        color: $new-secondary;
      }
      .aw-nav-item-dropdown {
        border-bottom: solid 2px $new-secondary;
        border-left: solid 2px $new-secondary;
        border-right: solid 2px $new-secondary;
      }
    }
    .aw-mobile-item-dropdown {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      gap: $spacer-3;
      height: 0;
      overflow: hidden;
      transition: 0.2s width ease-in-out;
      &:hover {
        background: #2f1599;
        cursor: pointer;
      }
      a:hover {
        color: $new-secondary;
      }
    }
    .aw-nav-item-dropdown {
      z-index: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 160px;
      overflow: hidden;
      height: 0;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      background: $new-primary;
      a {
        color: white;
        position: relative;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child)::before {
          content: "";
          position: absolute;
          height: 5px;
          width: 42px;
          left: 50%;
          transform: translate(-50%);
          bottom: 0;
          background-color: $new-secondary;
        }
        &:hover {
          background: #2f1599;
        }
      }
    }
  }
}
