
.item-card{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: $spacer-3;
  text-align: center;

  .item-card-icon-wrapper{
    background: $secondary;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      color: $primary;
    }
  }
  .item-card-icon-wrapper-primary{
    @extend .item-card-icon-wrapper;
    background: $primary;
    svg{
      color: $secondary;
    }
  }

  .item-card-title-secondary{
    color: $secondary;
  }

  .item-card-link{
    color: $font-blue-color;
    font-family: $primary-font;
  }
}