.price-card{
  display: flex;
  flex-direction: column;
  padding: $spacer-4;
  border-radius: $spacer-2;
  background: white;
  min-width: 100%;
  .price-card-title{
    color: $font-blue-color;
    font-weight: bold;
    font-size: 22px;
  }
  .price-card-subtitle{
    font-weight: bold;
    font-size: 22px;
  }
  .price-card-data{
    color: $font-green-color;
    font-size: 24px;
  }
}