.tag-box{
  padding: $spacer-2;
  background: none;
  max-width: fit-content;
  border: 1px solid $new-primary;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  &:hover{
    border: 1px solid $new-secondary;
    background-color: $new-secondary;
  }
  h3{
    font-size: 16px;
    color: $new-primary;
  }
  &.active{
    border: none;
    background-color: $new-secondary;
  }
}