.testimonial-cards-container {
  align-items: center;
  .testimonial-card{
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin-bottom: 140px;
    @media screen and (min-width: 576px) {
      margin-bottom: 200px;
    }
    .testimonial-img-round {
      position: relative;
      height: 200px;
      width: 100%;
      @media screen and (min-width: 576px) {
        height: 350px;
      }
      @media screen and (min-width: 992px) {
        width: 350px;
      }
      .img-person, .dotted-circle {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        @media screen and (min-width: 576px) {
          width: 350px;
          height: 350px;
        }
      }
      .dotted-circle {
        top: 0;
        right: 40%;
        transform: translateX(50%);
        @media screen and (min-width: 576px) {
          top: 20px;
          right: 0;
          transform: none;
        }
        @media screen and (min-width: 992px) {
          top: 0;
        }
      }
      .img-person {
        box-shadow: 0 3px 10px 20px white;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (min-width: 992px) {
          transform: none;
          top: -20px;
          left: initial;
        }
      }
    }
    &.img-right {
      @media screen and (min-width: 992px) {
        height: 350px;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        .img-person {
          right: 60px;
          left: initial;
        }
      }
    }
    &.img-left {
      @media screen and (min-width: 992px) {
        height: 350px;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        .img-person {
          left: 60px;
          right: initial;
        }
      }
    }
    .testimonial-card-content {
      display: flex;
      flex-direction: column;
      margin-top: 1.5rem;
      @media screen and (min-width: 576px) {
        margin-top: 3rem;
      }
      h4{
        font-weight: 700;
        color: $new-primary;
        font-size: 40px;
        @media screen and (min-width: 576px) {
          font-size: 80px;
        }
      }
      span {
        font-weight: 700;
        font-size: 22px;
        @media screen and (min-width: 576px) {
          font-size: 40px;
        }
      }
      .testimonial-text {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
        border-bottom: 8px solid $new-secondary;
        margin-top: 20px;
        @media screen and (min-width: 576px) {
          margin-top: 60px;
          border-bottom-width: 14px;
        }
        p{
          color: $dark;
          font-weight: 400;
          max-width: 400px;
          margin-right: 10%;
          font-size: 18px;
          @media screen and (min-width: 576px) {
            font-size: 24px;
          }
        }
      }
    }
  }
}