<footer>
	<div class="container-lg d-flex justify-content-between flex-wrap p-4 px-sm-3">
		<div class="nav-links-footer mb-4 me-4">
			<h3>Apprenti Webeur</h3>
			<div class="d-flex flex-column gap-4">
				<a href="{{ path('home') }}">Accueil</a>
				<a href="{{ path('login') }}">Se connecter</a>
				<a href="{{ path('mentions_legales') }}">Mentions légales</a>
			</div>
		</div>
		<div class="contact d-flex flex-column mb-4 me-4">
			<h3>Nous contacter</h3>
			<div class="d-flex align-items-start">
				<i class="fas fa-map-marker-alt mt-3 me-4"></i>
				<address class="d-flex flex-column gap-2">
					<p>Apprenti Webeur</p>
					<p>2 rue Georges Charpak</p>
					<p>Espace entreprise Arobase 1</p>
					<p>81100 Castres</p>
				</address>
			</div>
			<div class="contact-item d-flex align-items-center">
				<i class="fa fa-envelope-open me-4"></i>
				<a href="{{ path('contact') }}">
					Contact
				</a>
			</div>
		</div>
		<div class="social d-flex flex-column">
			<h3>Nos réseaux</h3>
			<div class="social-item d-flex align-items-center">
				<i class="fab fa-linkedin me-4"></i>
				<a href="https://www.linkedin.com/company/apprenti-webeur" target="_blank">LinkedIn</a>
			</div>
		</div>
	</div>
	<div
		class="footer-copyright">
		<!--   <svg
				        width="283"
				        height="320"
				        viewBox="0 0 283 285"
				        fill="none"
				        xmlns="http://www.w3.org/2000/svg"
				      >
				        <path
				          d="M88.6707 143.406L84.1863 141.194L88.6707 143.406ZM15.1543 151.866L19.3378 149.128L15.1543 151.866ZM90.2492 58.1647L90.1089 53.1667L90.2492 58.1647ZM-10.8605 12.9663C-8.72718 14.7197 -5.57638 14.4116 -3.82304 12.2782C-2.0697 10.1448 -2.37778 6.99404 -4.51115 5.2407L-10.8605 12.9663ZM17.4504 24.2056C15.4029 22.3527 12.241 22.5104 10.3881 24.5579C8.53519 26.6054 8.69291 29.7673 10.7404 31.6202L17.4504 24.2056ZM22.5921 42.6344C24.5892 44.5415 27.7542 44.4685 29.6613 42.4713C31.5683 40.4742 31.4953 37.3092 29.4982 35.4022L22.5921 42.6344ZM49.964 56.0147C48.0765 53.9991 44.9124 53.8952 42.8967 55.7827C40.8811 57.6702 40.7772 60.8343 42.6647 62.85L49.964 56.0147ZM53.4329 74.8184C55.235 76.9107 58.3921 77.146 60.4844 75.3439C62.5767 73.5418 62.812 70.3847 61.0099 68.2924L53.4329 74.8184ZM78.9947 91.4478C77.4398 89.1658 74.3293 88.5763 72.0473 90.1312C69.7653 91.6862 69.1758 94.7966 70.7307 97.0787L78.9947 91.4478ZM78.8886 110.509C80.1711 112.955 83.1933 113.898 85.6388 112.615C88.0844 111.333 89.0272 108.311 87.7448 105.865L78.8886 110.509ZM95.7737 136.034C96.0165 133.284 93.9835 130.857 91.2327 130.614C88.482 130.371 86.0553 132.404 85.8124 135.155L95.7737 136.034ZM80.5766 147.121C78.927 149.336 79.385 152.468 81.5995 154.118C83.8141 155.768 86.9466 155.31 88.5962 153.095L80.5766 147.121ZM63.1489 169.882C65.8245 169.199 67.4398 166.476 66.7568 163.801C66.0737 161.125 63.351 159.51 60.6754 160.193L63.1489 169.882ZM46.6421 161.459C43.8857 161.292 41.5161 163.392 41.3495 166.148C41.1829 168.904 43.2823 171.274 46.0387 171.441L46.6421 161.459ZM17.4497 161.48C19.6278 163.178 22.7696 162.788 24.467 160.61C26.1644 158.432 25.7747 155.29 23.5965 153.593L17.4497 161.48ZM15.6547 141.977C14.6182 139.418 11.703 138.183 9.1435 139.22C6.58399 140.256 5.34934 143.171 6.38584 145.731L15.6547 141.977ZM2.15902 111.911C1.79492 114.648 3.71879 117.162 6.4561 117.526C9.19342 117.891 11.7076 115.967 12.0717 113.229L2.15902 111.911ZM16.7694 97.5586C17.9878 95.0805 16.9666 92.0839 14.4885 90.8655C12.0103 89.6472 9.01376 90.6684 7.7954 93.1465L16.7694 97.5586ZM31.0287 68.0599C28.6825 69.5162 27.9611 72.5987 29.4174 74.9449C30.8737 77.2911 33.9562 78.0125 36.3024 76.5562L31.0287 68.0599ZM51.6027 69.4244C54.2151 68.5293 55.6072 65.686 54.7122 63.0737C53.8171 60.4613 50.9738 59.0692 48.3615 59.9642L51.6027 69.4244ZM80.8292 53.6516C78.0761 53.8654 76.0176 56.2706 76.2314 59.0238C76.4452 61.7769 78.8504 63.8354 81.6036 63.6216L80.8292 53.6516ZM98.0209 63.2568C100.778 63.4038 103.133 61.2876 103.28 58.5301C103.427 55.7726 101.311 53.418 98.5533 53.271L98.0209 63.2568ZM127.589 59.1733C124.992 58.2352 122.126 59.5803 121.188 62.1775C120.25 64.7747 121.595 67.6406 124.192 68.5786L127.589 59.1733ZM138.082 74.8533C140.507 76.1746 143.544 75.2799 144.865 72.8551C146.186 70.4303 145.292 67.3935 142.867 66.0723L138.082 74.8533ZM166.838 82.9622C164.758 81.1455 161.599 81.3587 159.783 83.4383C157.966 85.518 158.179 88.6766 160.259 90.4934L166.838 82.9622ZM171.437 101.281C173.332 103.289 176.497 103.38 178.505 101.484C180.513 99.5881 180.604 96.4236 178.708 94.4158L171.437 101.281ZM197.066 116.763C195.448 114.524 192.323 114.021 190.084 115.638C187.846 117.256 187.343 120.381 188.96 122.619L197.066 116.763ZM197.795 135.645C199.281 137.972 202.372 138.655 204.7 137.17C207.028 135.684 207.711 132.593 206.225 130.265L197.795 135.645ZM220.622 155.089C219.33 152.649 216.304 151.717 213.864 153.009C211.423 154.3 210.492 157.326 211.783 159.767L220.622 155.089ZM218.921 173.9C220.121 176.387 223.11 177.431 225.597 176.231C228.084 175.031 229.128 172.042 227.928 169.555L218.921 173.9ZM239.603 195.622C238.541 193.073 235.614 191.868 233.065 192.93C230.516 193.992 229.311 196.919 230.373 199.468L239.603 195.622ZM236.293 214.225C237.289 216.801 240.184 218.082 242.76 217.086C245.335 216.091 246.617 213.196 245.621 210.62L236.293 214.225ZM255.351 237.396C254.457 234.783 251.615 233.39 249.002 234.283C246.389 235.177 244.995 238.02 245.889 240.632L255.351 237.396ZM250.898 255.759C251.742 258.389 254.557 259.837 257.187 258.993C259.816 258.15 261.264 255.334 260.421 252.705L250.898 255.759ZM268.692 279.897C267.926 277.244 265.154 275.714 262.501 276.48C259.848 277.246 258.318 280.018 259.084 282.671L268.692 279.897ZM263.405 298.059C264.132 300.723 266.882 302.293 269.545 301.565C272.209 300.837 273.779 298.088 273.051 295.424L263.405 298.059ZM280.224 322.886C279.554 320.207 276.839 318.579 274.16 319.249C271.481 319.919 269.853 322.634 270.523 325.313L280.224 322.886ZM-17.108 7.91393C-15.1107 9.50174 -13.023 11.1891 -10.8605 12.9663L-4.51115 5.2407C-6.71387 3.43036 -8.84375 1.7089 -10.8851 0.0860681L-17.108 7.91393ZM10.7404 31.6202C14.6487 35.1571 18.6198 38.8413 22.5921 42.6344L29.4982 35.4022C25.4579 31.5441 21.4212 27.7991 17.4504 24.2056L10.7404 31.6202ZM42.6647 62.85C46.3774 66.8147 49.9857 70.8161 53.4329 74.8184L61.0099 68.2924C57.4626 64.1738 53.7607 60.0691 49.964 56.0147L42.6647 62.85ZM70.7307 97.0787C73.8819 101.703 76.6285 106.2 78.8886 110.509L87.7448 105.865C85.2714 101.149 82.3151 96.3209 78.9947 91.4478L70.7307 97.0787ZM85.8124 135.155C85.6144 137.399 85.0698 139.403 84.1863 141.194L93.1551 145.617C94.6413 142.603 95.4785 139.379 95.7737 136.034L85.8124 135.155ZM84.1863 141.194C83.1084 143.38 81.8962 145.35 80.5766 147.121L88.5962 153.095C90.2866 150.826 91.8145 148.336 93.1551 145.617L84.1863 141.194ZM60.6754 160.193C56.103 161.36 51.3222 161.742 46.6421 161.459L46.0387 171.441C51.6511 171.78 57.4775 171.33 63.1489 169.882L60.6754 160.193ZM23.5965 153.593C21.7395 152.145 20.3204 150.629 19.3378 149.128L10.9708 154.605C12.6637 157.191 14.8953 159.49 17.4497 161.48L23.5965 153.593ZM19.3378 149.128C18.0075 147.096 16.7529 144.689 15.6547 141.977L6.38584 145.731C7.70061 148.978 9.24685 151.971 10.9708 154.605L19.3378 149.128ZM12.0717 113.229C12.7765 107.931 14.2796 102.623 16.7694 97.5586L7.7954 93.1465C4.78496 99.2697 2.99373 105.636 2.15902 111.911L12.0717 113.229ZM36.3024 76.5562C40.6544 73.8549 45.7224 71.4391 51.6027 69.4244L48.3615 59.9642C41.8273 62.203 36.0696 64.9309 31.0287 68.0599L36.3024 76.5562ZM81.6036 63.6216C84.4249 63.4024 87.3524 63.248 90.3895 63.1628L90.1089 53.1667C86.9136 53.2564 83.8212 53.4192 80.8292 53.6516L81.6036 63.6216ZM90.3895 63.1628C92.9687 63.0903 95.5123 63.1231 98.0209 63.2568L98.5533 53.271C95.772 53.1227 92.9573 53.0867 90.1089 53.1667L90.3895 63.1628ZM124.192 68.5786C128.943 70.2943 133.571 72.3953 138.082 74.8533L142.867 66.0723C137.934 63.3843 132.842 61.0705 127.589 59.1733L124.192 68.5786ZM160.259 90.4934C164.082 93.8335 167.808 97.4375 171.437 101.281L178.708 94.4158C174.876 90.3579 170.921 86.5293 166.838 82.9622L160.259 90.4934ZM188.96 122.619C191.986 126.807 194.931 131.156 197.795 135.645L206.225 130.265C203.265 125.626 200.212 121.118 197.066 116.763L188.96 122.619ZM211.783 159.767C214.232 164.394 216.611 169.111 218.921 173.9L227.928 169.555C225.567 164.661 223.132 159.833 220.622 155.089L211.783 159.767ZM230.373 199.468C232.409 204.355 234.382 209.28 236.293 214.225L245.621 210.62C243.68 205.599 241.675 200.593 239.603 195.622L230.373 199.468ZM245.889 240.632C247.619 245.692 249.288 250.74 250.898 255.759L260.421 252.705C258.792 247.628 257.103 242.519 255.351 237.396L245.889 240.632ZM259.084 282.671C260.588 287.88 262.027 293.017 263.405 298.059L273.051 295.424C271.662 290.339 270.21 285.155 268.692 279.897L259.084 282.671ZM270.523 325.313C271.178 327.932 271.815 330.507 272.433 333.034L282.146 330.656C281.524 328.114 280.883 325.523 280.224 322.886L270.523 325.313Z"
				          fill="white"
				        />
				      </svg> -->
		<p>Copyright ©2022 Apprenti Webeur</p>
	</div>
</footer>
