<header>
	<div class="navbar-container container-lg">
		<a href="{{ path('home') }}">
			<div class="d-flex align-items-center">
				<img src="{{ asset('/img/logo2.png')}}" height="45" alt="logo Apprenti webeur">&nbsp;
				<span class="d-block d-lg-inline company-name">Apprenti Webeur</span>
			</div>
		</a>
		<div class="nav-aw">
			<div
				class="nav-aw-links">
	<a href="{{ path('app_pedagogie') }}">Qui sommes-nous?</a>
					<div class="item-dropdown-trigger">
																																									<a href="{{ path('app_catalogue') }}"class="d-flex gap-3 align-items-center justify-content-center py-2">
																																										Formations
																																										<i class="fas fa-chevron-down"></i>
																																									</a>
																																									<div class="aw-nav-item-dropdown">
																																									
																																									{{ render(controller('App\\Controller\\FormationController::formationList')) }}
																																									</div>
																																								</div>
			
			
				
				<a href="{{ path('accessibilite') }}">Accessibilité</a>
				
				<a href="{{ path('financement') }}">Financement</a>
				<a href="{{ path('contact') }}">Contact</a>

				{% if app.user %}
					<div class="d-flex align-items-center justify-content-center gap-2">
						{% if "ROLE_ADMIN" in app.user.roles or "ROLE_FORMATEUR" in app.user.roles%}
							<a href="{{ path('admin') }}">
								<i class="fa fa-cogs fa-lg text-white"></i>
							</a>
							<span>Admin</span>
						{% else %}
							<a href="{{ path('candidat_profile') }}">
								<i class="fas fa-user fa-lg text-white"></i>
							</a>
							<span class="fs-3">
								{{ app.user.firstname }}</span>
						{% endif %}

						<a href="{{ path('logout') }}">
							<i class="fa fa-power-off fa-lg text-white"></i>
						</a>
					</div>
				{% else %}
					<a class="btn-connect" role="button" href="{{ path('login') }}">Se connecter</a>
				{% endif %}
			</div>
			<a data-aw-menu="open">
				<i class="fas fa-bars fa-2x"></i>
			</a>
		</div>
		<div class="aw-mobile-menu-content" data-aw-menu="overlay"></div>
		<div class="aw-mobile-menu" data-aw-menu="content">
			<div class="aw-mobile-item-bar text-white">
				<a data-aw-menu="close">
					<i class="fas fa-times fa-lg"></i>
				</a>
				{% if app.user %}
					<div class="d-flex align-items-center justify-content-center gap-2">
						{% if "ROLE_ADMIN" in app.user.roles or "ROLE_FORMATEUR" in app.user.roles %}
							<a href="{{ path('admin') }}">
								<i class="fas fa-user fa-sm"></i>
							</a>
						{% else %}
							<a href="{{ path('candidat_profile') }}">
								<i class="fas fa-user fa-sm"></i>
							</a>
						{% endif %}
						<span class="fs-4">{{ app.user.firstname }}</span>
						<a href={{ path('logout') }}>
							<i class="fas fa-sign-out-alt fa-sm icon-blue"></i>
						</a>
					</div>
				{% else %}
					<a href="{{ path('login') }}">
						<i class="fas fa-lock-open fa-lg"></i>
					</a>
				{% endif %}
			</div>
			<div class="aw-mobile-item">
				<a href="">Acceuil</a>
			</div>
			<div
				class="aw-mobile-item item-dropdown-trigger">
				<!--	<a class="d-flex gap-3 align-items-center justify-content-center">
																					Formation
																					<i class="fas fa-chevron-down"></i>
																				</a>
																				<div class="aw-mobile-item-dropdown">
{#																					{{ render(controller('App\\Controller\\FormationController::formationList')) }}#}
																				</div>
																			</div> -->
				<div class="aw-mobile-item">
					<a href="{{ path('app_catalogue') }}">Formations</a>
				</div>
				<div class="aw-mobile-item">
					<a href="{{ path('app_pedagogie') }}">Services</a>
				</div>

				<div class="aw-mobile-item">
					<a href="{{ path('accessibilite') }}">Accessibilité</a>
				</div>
				<div class="aw-mobile-item">
					<a href="{{ path('contact') }}">Contact</a>
				</div>
			</div>
		</div>
	</header>
