{% extends 'base.html.twig' %}

{% block title %}Contact - Apprenti Webeur{% endblock %}

{% block body %}
    <main class="contact-main">
        <section class="d-flex flex-column flex-md-row-reverse">
            <div class="contact-hero-banner">
                <div class="contact-hero-banner-img" style="background-image: url({{ asset('img/contact_man.jpg') }})"></div>
            </div>
            <div class="m-4 pt-lg-5 contact-form-bloc">
                <h2 class="title-underlined title-primary mb-4">Contactez-nous</h2>
                <p class="mb-5"><b>Une question ?<br>N’hésitez pas !</b></p>
                {{ form_start(form) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.client_mail) }}
                {{ form_row(form.mail_object) }}
                {{ form_row(form.mail_content) }}
                <div class="d-flex align-items-center justify-content-center my-5">
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
