<div class="accordion-item">
    <h2 class="accordion-header w-100" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ service.slug }}" aria-expanded="false" aria-controls="collapseOne">
            {{ service.name }} - {{service.level}}
        </button>
    </h2>
    <div id="{{ service.slug }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <ul>
                {% for diploma in service.diplomas %}
                <li>{{ diploma }}</li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>