main.formation-main {
  // ---------------------Hero banner section --------------------------
  .formation-hero-banner {
    overflow: hidden;
    background: #4222c4;
    position: relative;
    width: 160%;
    margin-bottom: 100px;
    margin-left: -30%;
    border-radius: 0 0 50% 50% / 0 0 15% 15%;
    @media screen and (min-width: 768px) {
      border-radius: 0 0 50% 50% / 0 0 30% 30%;
    }
    > div {
      width: 62.5%;
      max-width: 992px;
      margin: 0 auto;
    }
    .hero_formation-img-container {
      display: flex;
      justify-content: center;
      .hero_formation-img {
        width: 160%;
        max-width: 850px;
        @media screen and (min-width: 992px) {
          margin-top: -24%;
        }
      }
    }
    .hero-banner-content {
      padding-top: 0;
      margin: 20px auto 45px;
      color: white;
      gap: 3rem;
      position: relative;
      z-index: 1;
      @media screen and (min-width: 992px) {
        align-items: flex-start;
        gap: 1.5rem;
        margin-top: 60px;
      }
      h1 {
        text-align: center;
        font-size: 40px;
        padding: 0 20px;
        @media screen and (min-width: 992px) {
          padding-left: 12px;
        }
      }
      > p {
        padding: 0 20px;
        text-align: center;
        font-size: 22px;
        color: white;
        line-height: 1.5;
        @media screen and (min-width: 992px) {
          text-align: start;
          padding: 0 0 0 12px;
          font-size: 26px;
        }
      }
      .formation-hero-infos {
        background-color: #2d1785;
        padding: 40px 0;
        position: relative;
        z-index: 0;
        @media screen and (min-width: 992px) {
          background-color: initial;
          padding: 0;
        }
        p {
          padding-left: 20px;
          line-height: 2;
          font-size: 18px;
          color: $new-secondary;
          @media screen and (min-width: 992px) {
            padding-left: 12px;
          }
        }
      }
      a {
        align-self: center;
        @media screen and (min-width: 992px) {
          align-self: flex-start;
          margin-left: 12px;
        }
      }
    }
  }
  // ---------------------Metier section --------------------------
  .metier-section {
    p {
      font-size: 18px;
      line-height: 30px;
    }
    .skills-group {
      i {
        color: $new-primary;
        font-size: 1.5rem;
      }
    }
    p.text-muted {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  // ---------------------Pricing section --------------------------
  .pricing-bg {
    background-color: $new-primary;
    @media screen and (min-width: 992px) {
      position: relative;

      margin-top: 150px;
      padding-bottom: 160px;
      &::before {
        content: "";
        position: absolute;
        height: 150px;
        width: 120%;
        left: -10%;
        background-color: $new-primary;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        top: -150px;
      }
    }
    .pricing-bg-line {
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
        position: absolute;
        width: 1300px;
        top: 45%;
        left: 58%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    h2 {
      text-align: center;
      @media screen and (max-width: 576px) {
        width: min-content;
      }
    }
    .pricing-short-description {
      background-color: white;
      text-align: center;
      height: 200px;
      width: 100%;
      padding: 17px 0;
      border-bottom: 17px solid $new-secondary;
      @media screen and (min-width: 992px) {
        width: 360px;
        border-bottom-width: 24px;
      }
      p {
        font-size: 22px;
      }
      h3 {
        font-size: 43px;
        font-weight: bold;
        color: $new-primary;
      }
    }
    .pricing-long-description {
      font-size: 18px;
      color: white;
      padding: 30px;
      @media screen and (min-width: 992px) {
        background-color: white;
        color: black;
        padding: 30px;
        border-bottom: 24px solid $new-secondary;
        font-size: 22px;
        line-height: 1.5;
        width: 584px;
      }
    }
    .pricing-mobile-line {
      display: block;
      margin-top: 60px;
      margin-bottom: 60px;
      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }
  // ---------------------Formation program section --------------------------
  .formation-program {
    p {
      font-size: 18px;
      text-align: center;
      @media screen and (min-width: 576px) {
        text-align: left;
      }
      @media screen and (min-width: 992px) {
        font-size: 18px;
      }
    }
    .accordion-header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
      @media screen and (min-width: 576px) {
        justify-content: space-between;
        flex-direction: row;
      }
      > p > i {
        display: none;
        color: $new-primary;
        font-size: 1.5rem;
        @media screen and (min-width: 576px) {
          display: block;
        }
        @media screen and (min-width: 992px) {
          font-size: 2rem;
        }
      }
    }
    .accordion-item {
      width: 100%;
      border: 1px solid $new-primary;
      border-radius: 10px;
      @media screen and (min-width: 576px) {
        border: none;
      }
      li {
        font-size: 18px;
        text-align: center;
        @media screen and (min-width: 576px) {
          text-align: left;
        }
        @media screen and (min-width: 992px) {
          font-size: 18px;
        }
      }
    }
    .accordion-button {
      background: white;
      color: $new-primary;
      width: fit-content;
      box-shadow: none;
      flex-direction: row-reverse;
      i {
        transition: transform 0.2s ease-in-out;
        font-size: 1rem;
      }
      &::after {
        background-image: none;
      }
      &:not(.collapsed) i {
        transform: rotate(-180deg);
      }
    }
  }
  // ---------------------Skills section --------------------------
  .skills-section {
    background-color: $new-primary;
    .skills-bg {
      padding-top: 25px;
      padding-bottom: 50px;
      @media screen and (min-width: 992px) {
        padding-top: 100px;
        padding-bottom: 120px;
      }
      .skills-items-group {
        padding-left: 1rem;
        padding-right: 1rem;
        h3 {
          font-size: 30px;
          margin: 2rem 0;
          @media screen and (min-width: 992px) {
            font-size: 30px;
          }
        }
        p {
          font-size: 18px;
          line-height: 30px;
          display: flex;
          @media screen and (min-width: 992px) {
            line-height: 50px;
            font-size: 18px;
          }
          i {
            font-size: 1rem;
            color: $new-tertiary;
            @media screen and (min-width: 992px) {
              font-size: 1rem;
            }
          }
        }
      }
      .separator-line {
        display: block;
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }
  }
  // ---------------------Rythme section --------------------------
  .rythme-section {
    padding-top: 70px;
    padding-bottom: 100px;
    .container-sm {
      @media screen and (min-width: 992px) {
        max-width: 992px;
        > div {
          margin-top: 100px;
          margin-bottom: 100px;
        }
      }
    }
    h2 {
      margin-bottom: 50px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 40px;
      @media screen and (min-width: 992px) {
        font-size: 26px;
        line-height: 50px;
        max-width: 462px;
      }
    }
    .img-rythme {
      width: 90%;
      height: 90vw;
      max-height: 518px;
      margin-bottom: 160px;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @media screen and (min-width: 992px) {
        max-width: 420px;
        margin-bottom: 0;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: none;
        border: 12px solid $new-secondary;
        top: 10%;
      }
      &.frame-right {
        @media screen and (min-width: 992px) {
          margin-left: 36px;
        }
        &::after {
          left: 10%;
        }
      }
      &.frame-left {
        margin-left: 10%;
        @media screen and (min-width: 992px) {
          margin-left: 36px;
          margin-right: 48px;
        }
        &::after {
          right: 10%;
        }
      }
    }
    .pedagogy-aw,
    .prerequisites {
      h2 {
        color: $new-primary;
        font-size: 40px;
      }
      p > i {
        color: $new-tertiary;
      }
      @media screen and (min-width: 992px) {
        margin: 0 !important;
        p {
          max-width: initial;
        }
      }
    }
    .prerequisites {
      padding-bottom: 60px;
      @media screen and (min-width: 992px) {
        padding-top: 100px;
      }
    }
  }
  // ---------------------Rythme section --------------------------
  .btn-candidature-section {
    height: 100%;
    background-color: $new-primary;
    @media screen and (min-width: 992px) {
      height: 100%;
    }
  }
}
