/*----------------------------------------------Hero Banner-------------------------------------*/
.homepage-hero-banner {
  height: 650px;
  overflow: hidden;
  background: #4222c4;
  position: relative;
  margin-bottom: 100px;
  img.img-white-cover-shape {
    position: absolute;
    bottom: -5%;
    left: 0;
    width: 100%;
    @media screen and (min-width: 576px) {
      bottom: -8%;
    }
    @media screen and (min-width: 768px) {
      bottom: -10%;
    }
    @media screen and (min-width: 992px) {
      bottom: -14%;
    }
    @media screen and (min-width: 1200px) {
      bottom: -16%;
    }
    @media screen and (min-width: 1400px) {
      bottom: -20%;
    }
    @media screen and (min-width: 1600px) {
      bottom: -23%;
    }
  }
  p {
    color: $secondary;
    font-size: 22px;
  }
  h1 {
    color: $secondary;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0;
  }
  .homepage-hero-img-container {
    height: 330px;
    .homepage-hero-img {
      position: absolute;
      width: 332px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (min-width: 992px) {
        right: 0;
        left: initial;
        width: 500px;
        transform: none;
        .hero-line-mobile {
          display: none;
        }
        .hero-line {
          display: block;
        }
      }
    }
    svg {
      &.hero-line {
        display: none;
        position: absolute;
        bottom: 0;
        left: 62%;
        transform: translateX(-50%);
      }
      &.hero-line-mobile {
        display: block;
      }
      @media screen and (min-width: 400px) {
        &.hero-line-mobile {
          display: none;
        }
      }
      @media screen and (min-width: 992px) {
        &.hero-line {
          display: block;
        }
      }
    }
  }
  .hero-banner-content {
    align-items: center;
    padding-top: 0;
    height: 300px;
    margin-top: 20px;
    text-align: center;
    @media screen and (min-width: 992px) {
      align-items: flex-start;
      h1 {
        max-width: 450px;
      }
    }
    @media screen and (min-width: 576px) {
      padding-top: 2rem;
      h1 {
        margin-top: 3rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}
/*----------------------------------------------Formations-------------------------------------*/
section#Nos_formation {
  .formation-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    position: relative;
    min-height: 410px;
    @media screen and (min-width: 576px) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }
    @media screen and (min-width: 992px) {
      justify-content: space-between;
      width: 100%;
    }
  }
}
.formation-bg {
  background-color: $new-primary;
  @media screen and (min-width: 992px) {
    position: relative;
    margin-top: 150px;
    &::before {
      content: "";
      position: absolute;
      height: 150px;
      width: 120%;
      left: -10%;
      background-color: $new-primary;
      border-radius: 50% 50% 0 0 / 100% 100% 0 0;
      top: -150px;
    }
  }
}
h2 {
  text-align: start;
  width: fit-content;
  @media screen and (min-width: 992px) {
    align-self: flex-start;
  }
}
.nosformations-bg-line {
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    z-index: -1;
  }
}

/*----------------------------------------------Description-------------------------------------*/
.homepage-certificates-content {
  h2 {
    width: 300px;
    text-align: start;
    margin: 80px auto 0;
    border: none;
    line-height: 1.5;
    @media screen and (min-width: 576px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: fit-content;
    }
    @media screen and (min-width: 992px) {
      margin: 150px 0 0;
    }
  }
  .progress-dashes-line {
    display: none;
    @media screen and (min-width: 992px) {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .certificates-items-group {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 992px) {
      height: 2055px;
    }
    .certificates-items {
      margin-bottom: 80px;
      @media screen and (min-width: 992px) {
        margin-bottom: 370px;
      }
      &.img-right,
      &.img-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img {
          width: 300px;
          margin-bottom: 40px;
        }
      }
      @media screen and (min-width: 992px) {
        &.img-right {
          flex-direction: row-reverse;
        }
        &.img-left {
          flex-direction: row;
        }
      }
      p {
        line-height: 2.2;
        font-size: 18px;
        width: 300px;
        @media screen and (min-width: 576px) {
          width: 450px;
        }
        @media screen and (min-width: 992px) {
          width: 45%;
          font-size: 22px;
        }
      }
    }
  }
}
/*----------------------------------------------Une équipe pédagogique qualifiée-------------------------------------*/
section.teaching-team {
  .teaching-team-banner {
    background-color: $new-primary;
    padding-top: 70px;
    margin-top: 0;
    @media screen and (min-width: 992px) {
      margin-top: 120px;
    }
    h2 {
      border: none;
      text-align: start;
      margin-bottom: 5%;
      width: initial;
      &::before {
        display: none;
      }
    }
    img {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  p {
    color: $dark;
    margin-bottom: 40px;
    line-height: 2.2;
    font-size: 18px;
    @media screen and (min-width: 992px) {
      font-size: 22px;
    }
    &:first-child {
      margin-top: 70px;
      @media screen and (min-width: 992px) {
        margin-top: 130px;
      }
    }
    &:last-child {
      @media screen and (min-width: 992px) {
        margin-bottom: 140px;
      }
    }
  }
}

.accessibilite {
  @media screen and (max-width: 992px) {
    clip-path: ellipse(160% 70% at 50% 30%) !important;
  }
  @media screen and(max-width: 768px) {
    .arrow {
      display: none;
    }
  }
}
