.nomination-main {
  .timeline-bloc {
    width: 100%;
    height: 280px;
    background-color: $new-primary;
  }
  h1,
  h2 {
    width: fit-content;
  }
  h1 {
    padding-top: 50px;
  }
  button, .delete-field-link {
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  .nomination-form-bloc {
    @media screen and (min-width: 992px) {
      p {
        font-size: 40px;
      }
    }
  }
  .steps-bloc {
    position: relative;
    z-index: 1;
    margin-top: 65px;
    &::before, .yellow-progress-line {
      content: "";
      height: 2px;
      position: absolute;
      bottom: 9px;
      left: 1%;
    }
    &::before {
      z-index: -2;
      width: 97%;
      background-color: white;
    }
    .yellow-progress-line {
      z-index: -1;
      background-color: $new-secondary;
      max-width: 97%;
    }
    .check-circle {
      height: 20px;
      width: 20px;
      display: block;
      border-radius: 50%;
      background-color: white;
    }
    .step-name {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
    .step-number {
      font-size: 18px;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    .step-group.active {
      .step-number {
        color: $new-secondary;
      }
      .step-name {
        font-weight: 700;
        color: $new-secondary;
      }
      .check-circle {
        background-color: $new-secondary;
        transform: scale(1.5);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: $new-primary;
          font-size: 1.5rem;
          padding-right: 0.0625em;
          padding-top: 0.0625em;
          &::before {
            font-weight: 600 !important;
          }
        }
        i.bi.bi-dot {
          display: none;
          @media screen and (min-width: 768px) {
            display: block;
            color: $new-secondary;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 60%;
            padding-right: 0;
          }
        }
      }
    }
    .step-group.previous {
      .step-number {
        color: $new-secondary;
      }
      .step-name {
        font-weight: 700;
        color: $new-secondary;
      }
      .check-circle {
        background-color: $new-secondary;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: $new-primary;
          font-size: 1.2rem;
          padding-right: 0.0625em;
          padding-top: 0.0625em;
          &::before {
            font-weight: 600 !important;
          }
        }
      }
    }
  }
  .form-subgroup {
    @media screen and (min-width: 768px) {
      width: 48%;
      .col-form-label {
        padding-top: 0;
      }
    }
  }
  .add-field-button {
    font-size: 18px;
  }
}
