.aw-side-menu{
  display: none;
  flex-direction: column;
  @include media-min("desktop-small-min"){
    display: flex;
  }
  background: $secondary;
  border: 1px solid lightgrey;
  float: left;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
}
.aw-side-item{
  display: flex;
  gap: $spacer-3;
  padding: $spacer-3;
}
.table-wrapper{
  overflow: hidden;
  overflow-x: scroll;
}