.register-main{
  .register-hero-banner {
    overflow: hidden;
    position: relative;
    width: 160%;
    height: 100vw;
    margin-bottom: 70px;
    margin-left: -30%;
    border-radius: 0 0 50% 50% / 0 0 15% 15%;
    @media screen and (min-width: 768px) {
      border-radius: initial;
      width: 50%;
      margin-left: 0;
      margin-bottom: 0;
      height: initial;
    }
    .register-hero-banner-img {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  h2 {
    width: fit-content;
  }
  button {
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  .register-form-bloc {
    @media screen and (min-width: 768px) {
      flex: 1;
      max-width: 460px;
    }
    @media screen and (min-width: 992px) {
      p {
        font-size: 40px;
      }
    }
  }
}