{% extends 'base.html.twig' %}

{% block title %}{{ formation_name }}{% endblock %}

{% block body %}
    <main class="formation-main">
        {#/*-----------------------------------------Formation Hero Banner---------------------------------------------------------*/#}
        <section class="w-100 p-3 gap-3 d-flex flex-column flex-lg-row-reverse align-items-center justify-content-center container-lg">
            <img src="{{ asset("/img/"~image~".svg") }}" alt="" class="w-100-xs w-50-lg">
            <div class="d-flex flex-column align-items-start justify-content-center gap-3 p-3 w-100-xs w-50-lg">
                <h1>{{ formation_name }}</h1>
                <p>{{ formation_small_desc }}</p>
                {% block formation_hero_info %}
                {% endblock %}
                {% if app.user %}
                    <button class="btn"><a href={{ path('nomination_personnal_info', {"slug": slug}) }}>Je candidate</a></button>
                {% else %}
                    <button class="btn"><a href={{ path('login') }}>Je me connecte pour candidater</a></button>
                {% endif %}
            </div>
        </section>
        {#/*--------------------------------------------Advantage Section---------------------------------------------------------*/#}
        <section class="w-100 bg-blue-transparent p-3">
            <h2 class="text-center mb-3">La pédagogie Apprenti Webeur</h2>
            <div class="grid grid-layout container-lg" style="padding-bottom: 40px;">
                <div class="item-card">
                    <div class="item-card-icon-wrapper">
                        <i class="fas fa-graduation-cap fa-lg icon-blue"></i>
                    </div>
                    <h3 class="item-card-title">Devenir un professionnel compétent</h3>
                </div>
                <div style="padding-top:20px;" class="item-card">
                    <div class="item-card-icon-wrapper">
                        <i class="fas fa-chalkboard-teacher fa-lg icon-blue"></i>
                    </div>
                    <h3 class="item-card-title">Equipe pedagogique technique et coach ou e-tuteur</h3>
                </div>
                <div class="item-card">
                    <div class="item-card-icon-wrapper">
                        <i class="fas fa-video fa-lg icon-blue"></i>
                    </div>
                    <h3 class="item-card-title">Cours écrit et vidéo à la demande</h3>
                </div>
                <div class="item-card">
                    <div class="item-card-icon-wrapper">
                        <i class="fas fa-project-diagram fa-lg icon-blue"></i>
                    </div>
                    <h3 class="item-card-title">Projets Professionnels</h3>
                </div>
                <div class="item-card">
                    <div class="item-card-icon-wrapper">
                        <i class="fas fa-building fa-lg icon-blue"></i>
                    </div>
                    <h3 class="item-card-title">Implication de l'entreprise</h3>
                </div>
                <div class="item-card mb-0">
                    <div class="item-card-icon-wrapper">
                        <i class="fas fa-cog fa-lg icon-blue"></i>
                    </div>
                    <h3 class="item-card-title">Personalisation des parcours</h3>
                </div>
            </div>
        </section>
        {#/*-------------------------------------------Info Section---------------------------------------------------------------*/#}
        <section class="info-section w-100 d-flex align-items-center justify-content-center flex-column">
            <div class="d-flex flex-column flex-lg-row-reverse align-items-center align-items-lg-start justify-content-center container-lg g-0">
                <div class="description-block p-3">
                    <h3 class="mb-3 fw-bold title-margin">{{ formation_desc_title }}</h3>
                    <p class="mb-3 text-muted">
                        {{ formation_long_desc }}
                    </p>
                    <div class="d-flex gap-3 justify-content-between flex-column flex-md-row">
                        <div class="d-flex flex-column gap-3">
                            <h3 class="fw-bold title-margin">Compétences acquises en formation</h3>
                            {% block formation_skills_description %}
                            {% endblock %}
                            {% if app.user %}
                                <button class="btn w-25-md w-100-xs"><a href={{ path('nomination_personnal_info', {"slug": slug}) }}>Je candidate</a></button>
                            {% else %}
                                <button class="btn w-75-md w-100-xs"><a href={{ path('login') }}>Je me connecte pour candidater</a></button>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-column align-items-start justify-content-center gap-3 align-content-center">
                            <h3 class="fw-bold title-margin">Modalités de formation</h3>
                            {% block formation_keypoint_description %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-blue-transparent w-100">
                <div class="d-flex flex-column gap-3 p-3 container-lg g-0">
                    <h3 class="text-blue-darker" >A la fin de votre formation</h3>
                    <div class="d-flex flex-column">
                        <h4 class="mb-2 text-blue-darker">Vous obtiendrez</h4>
                        {% block formation_goal %}
                        {% endblock %}
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <h4 class="mb-2 text-blue-darker">Vous pourrez exercer les métiers</h4>
                        {% block formation_job %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
        {#/*----------------------------------------------------Program Block----------------------------------------#}
        <section class="bg-blue">
            <div class="d-flex flex-column align-items-center justify-content-center p-3 gap-3 container-lg g-0">
                <h2 class="text-white">Programme de la formation</h2>
                {% block formation_program %}
                {% endblock %}
            </div>
        </section>
        {#/*-------------------------------------------------------------------------Place section----------------------------------#}
        <section class="place-section w-100 p-3 d-flex flex-column gap-3" style="margin-bottom: 40px;">
            <h2 class="text-center mb-3">Rythme de la formation</h2>
            <div class="d-flex flex-column flex-md-row gap-3 container-sm g-0">
                {% if place == "Presentiel" %}
                    <div class="item-card bg-blue-transparent p-3 rounded-2 mb-0">
                        <div class="item-card-icon-wrapper">
                            <i class="fas fa-home fa-lg icon-blue"></i>
                        </div>
                        <h3 class="item-card-title">Distanciel</h3>
                        <span class="item-card-text">Si vous souhaitez garder un enseignement de qualité, mais en plus de garder votre mobilité, nos formateurs habitués à cette pratique vous accompagneront sans fautes !</span>
                    </div>
                {% elseif place == "Distanciel" %}
                    <div class="item-card bg-blue-transparent p-3 rounded-2 mb-0">
                        <div class="item-card-icon-wrapper">
                            <i class="fas fa-school fa-lg icon-blue"></i>
                        </div>
                        <h3 class="item-card-title">Présentiel</h3>
                        <span class="item-card-text">Profitez de cours de qualités dans une structure adapté à vos besoins, accompagné de formateurs compétents pour que votre formation se passe au mieux.</span>
                    </div>
                {% else %}
                    <div class="item-card bg-blue-transparent p-3 rounded-2 mb-0">
                        <div class="item-card-icon-wrapper">
                            <i class="fas fa-home fa-lg icon-blue"></i>
                        </div>
                        <h3 class="item-card-title">Distanciel</h3>
                        <span class="item-card-text">Si vous souhaitez garder un enseignement de qualité, mais en plus de garder votre mobilité, nos formateurs habitués à cette pratique vous accompagneront sans fautes !</span>
                    </div>
                    <div class="item-card bg-blue-transparent p-3 rounded-2 mb-0">
                        <div class="item-card-icon-wrapper">
                            <i class="fas fa-school fa-lg icon-blue"></i>
                        </div>
                        <h3 class="item-card-title">Présentiel</h3>
                        <span class="item-card-text">Profitez de cours de qualités dans une structure adapté à vos besoins, accompagné de formateurs compétents pour que votre formation se passe au mieux.</span>
                    </div>
                {% endif %}
            </div>
            <div class="container-sm g-0 d-flex justify-content-center">
                {% if app.user %}
                    <button class="btn w-75-md w-50-lg w-100-xs"><a href={{ path('nomination_personnal_info', {"slug": slug}) }}>Je candidate</a></button>
                {% else %}
                    <button class="btn w-75-md w-50-lg w-100-xs"><a href={{ path('login') }}>Je me connecte pour candidater</a></button>
                {% endif %}
            </div>
        </section>
        {#/*----------------------------------------------------Price section----------------------------------------------------------*/#}
        <section class="price-section p-3 bg-blue">
            <h2 class="text-center mb-3 text-white">Cout de la formation</h2>
            <div class="grid grid-layout container-lg g-0" style="margin-bottom: 40px;">
                {% block formation_payment_solutions %}
                {% endblock %}
            </div>
        </section>
        {#/*-----------------------------------------------------------Pre-required Block------------------------------------------------------------#}
        <section class="pre-required-section py-3">
            <h2 class="mb-3 text-center fw-bold">Pre-requis d'accés à la formation</h2>
            <div class="d-flex flex-column gap-3 px-3 container-sm g-0 " style="margin-bottom: 40px;">
                {% block formation_prerequired %}
                {% endblock %}
            </div>
            <div class="mt-3 p-3 py-4 text-center bg-blue-transparent">
                <div class="d-flex flex-column gap-2 container-lg">
                    <span class="text-blue">Vous allez integrer une promotion de</span>
                    <span class="text-green fs-1">{{ student_number }}</span>
                    <span class="text-blue">apprenants</span>
                </div>
            </div>
        </section>
        {#/*------------------------------------Contact block---------------------------------------------------#}
        <section class="pt-0 pb-3 px-3">
            <div class="d-flex flex-column align-items-center justify-content-center gap-3 container-lg g-0">
                <span class="">Contactez nous</span>
                <span>
                    <a href="#" class="text-decoration-underline">info@apprenti-webeur.fr</a>
                </span>
                <button class="btn p-2 px-5 fs-3"><a href="{{ path('nomination_personnal_info', {"slug": slug}) }}">Déposer ma candidature</a></button>
                <button class="d-flex gap-2 align-items-center justify-content-center btn p-2 px-5 fs-3">
                    <i class="fas fa-cloud-download-alt icon-white"></i>
                    Télécharger la brochure
                </button>
            </div>
        </section>
    </main>
{% endblock %}
