<div class="formation-card">
	<h3 class="mb-2">{{ category.name }}</h3>
	<div class="formation-card-content p-0">
		<a href="{{ path('app_catalogue_cat_id', {"cat_id": category.id}) }}">
			<img src="{{ asset('uploads/category_img/' ~ category.imgUrl)}}" alt="description catégorie" class="w-100">

			<div class="middle">
				<div class="text">Découvrir</div>
			</div>
		</a>
	</div>
</div>

{# TODO put all the style in a separated file #}

<style>

	.formation-card-content {
		position: relative;
		overflow: hidden;
	}

	.formation-card-content img {
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: 0.8s ease;

	}

	.formation-card-content .middle {
		transition: 0.8s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	}

	.formation-card-content:hover img {
		opacity: 0.3;
	}

	.formation-card-content:hover .middle {
		opacity: 1;
	}

	.text {
		background-color: #EBDB4D;
		color: #4222C4;
		font-size: 16px;
		font-weight: 600;
		padding: 16px 32px;
	}
</style>
