<div class="formation-card">
	<h3 class="mb-2" style="color:black">{{ course.menuName }}</h3>
	<div class="formation-card-content">

	{% if course.pageCreated %}
				<a href="{{ path('formation_item', {id: course.id}) }}">
			{% else%}
				<a href="#">
			{% endif %}
		
			<div class="formation-card-info">
				<img src="{{ asset('img/icon_studyhat.png') }}" alt="icone chapeau etudiant">
				<span>{{ course.courseEndLevel}}</span>
			</div>
			<div class="formation-card-info">
				<img src="{{ asset('img/icon_clock.png') }}" alt="icone horloge">
				{# <span>Environ {{ course.courseDuration }} {{ course.courseDurationUnit }}</span> #}
				<span> {{ course.courseDuration }} {{ course.courseDurationUnit }}</span>
			</div>
			<div class="formation-card-info">
				<img src="{{ asset('img/icon_wfh.png') }}" alt="icone personne avec casque audio">
				<span>{{ course.courseFormat }}</span>
			</div>
			{% if course.pageCreated is same as false %}
			<span class="text-center fs-2 fw-bold d-block" style="color:#4222c4">Cette formation sera bientôt disponible</span>
			{% endif %}
		</a>
		<div class="d-flex w-100 gap-2 align-items-center justify-content-center">
			
			{% if course.pageCreated %}
				<a class="button button-secondary" href="{{ path('formation_item', {id: course.id}) }}" role="button">Je découvre</a>
			{% else%}
				
			{% endif %}		
		</div>
	</div>
</div>
