<div class="testimonial-card {{ i % 2 == 0 ? 'img-right' : 'img-left' }}">
	<div class="testimonial-img-round">
		<img class="dotted-circle" src="{{ asset('img/Ellipse_5.png') }}" alt="ligne pointillés">
		<img class="img-person" src="{{ asset(testimonialDatas[i].img) }}" alt="image personne">
	</div>
	<div class="testimonial-card-content">
		<h4>{{ testimonialDatas[i].author_name }}</h4>
		<span>{{ testimonialDatas[i].formation }}</span>
		<div class="testimonial-text">
			<svg width="58" height="47" viewbox="0 0 58 47" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M26.222 6.08999L16.148 24.858L9.8 26.652C10.536 25.272 11.364 24.168 12.284 23.34C13.204 22.42 14.262 21.96 15.458 21.96C18.126 21.96 20.518 23.064 22.634 25.272C24.842 27.388 25.946 30.148 25.946 33.552C25.946 37.14 24.704 40.222 22.22 42.798C19.828 45.374 16.838 46.662 13.25 46.662C9.846 46.662 6.856 45.42 4.28 42.936C1.796 40.36 0.554 37.232 0.554 33.552C0.554 32.08 0.83 30.378 1.382 28.446C2.026 26.514 3.176 23.984 4.832 20.856L15.872 0.431992L26.222 6.08999ZM57.272 6.08999L47.198 24.858L40.988 26.652C41.632 25.272 42.414 24.168 43.334 23.34C44.346 22.42 45.404 21.96 46.508 21.96C49.176 21.96 51.614 23.064 53.822 25.272C56.03 27.388 57.134 30.148 57.134 33.552C57.134 37.14 55.892 40.222 53.408 42.798C51.016 45.374 48.026 46.662 44.438 46.662C41.034 46.662 38.044 45.42 35.468 42.936C32.984 40.36 31.742 37.232 31.742 33.552C31.742 32.08 32.018 30.378 32.57 28.446C33.122 26.514 34.226 23.984 35.882 20.856L47.06 0.431992L57.272 6.08999Z" fill="#4222C4"/>
			</svg>
			<p>{{testimonialDatas[i].testimonial}}
			</p>
		</div>
	</div>
</div>
