<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Apprenti Webeur
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset('img/logo2.png') }}">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9BFKX9HJR"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
			dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-Z9BFKX9HJR');
		</script>
	</head>
	<body>
		{% for flash in app.flashes('warning') %}
			<div class="alert alert-warning alert-dismissible fade show position-fixed top-0 index-overall w-100" role="alert">
				<span>{{ flash }}</span>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		{% for flash in app.flashes('error') %}
			<div class="alert alert-danger alert-dismissible fade show position-fixed top-0 index-overall w-100" role="alert">
				<span>{{ flash }}</span>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		{% for flash in app.flashes('success') %}
			<div class="alert alert-success alert-dismissible fade show position-fixed top-0 index-overall w-100" role="alert">
				<span>{{ flash }}</span>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
		{% block header %}
			{% include 'Block/header.html.twig' %}
		{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}
			{% include "Block/footer.html.twig" %}
		{% endblock %}
	</body>
</html>
