{# @var nominations \App\Entity\Nomination[] #}
{% extends 'candidat_panel/base/base.html.twig' %}

{% block content %}
    <div class="d-flex flex-column gap-3 p-3 w-100 container-lg">
        <h2 class="align-self-center text-primary">Candidatures</h2>
        <div class="table-wrapper">
            <table class="table table-striped text-primary">
                <thead>
                <tr>
                    <th scope="col">Nom de la formation</th>
                    <th scope="col">Validateur</th>
                    <th scope="col">Statut</th>
                </tr>
                </thead>
                <tbody>
                {% if nominations is empty %}
                    <tr>
                        <td colspan="3">Aucune candidature pour le moment</td>
                    </tr>
                {% endif %}
                {% for nomination in nominations %}
                    <tr>
                        <td class="text-primary">{{ nomination.name }}</td>
                        <td class="text-primary">{{ nomination.validator ? nomination.validator : "Aucun"}}</td>
                        {% if nomination.validationState == 1 %}
                            <td class="text-warning">En Attente</td>
                        {% elseif nomination.validationState == 2 %}
                            <td class="text-success">Validée</td>
                        {% else %}
                            <td class="text-danger">Refusée</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}