{% extends 'candidat_panel/base/base.html.twig' %}
{% block content %}
    <div class="p-3 container-lg d-flex flex-column gap-3">
        <h1 class="align-self-center text-primary">Mettre à jour mon profil</h1>
        {{ form_start(form) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.adress.country) }}
            {{ form_row(form.adress.city) }}
            {{ form_row(form.adress.zipcode) }}
            {{ form_row(form.adress.address) }}
            {{ form_row(form.phone) }}
        <div class="d-flex justify-content-center">
            {{ form_widget(form.update) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}