{% extends 'base.html.twig' %}

{% block title %}Connectez vous - Apprenti Webeur{% endblock %}

{% block body %}
    <main class="login-main">
        <section class="d-flex flex-column flex-sm-row-reverse">
            <div class="login-hero-banner">
                <div class="login-hero-banner-img" style="background-image: url({{ asset('img/login_bg.jpg') }})"></div>
            </div>
            <div class="m-4 pt-sm-5 login-form-bloc">
                <h1 class="title-underlined title-primary mb-5">Connexion</h1>
                <form action="{{ path('login') }}" method="post">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="my-3">
                        <label for="email" class="form-label">Email :</label>
                        <input type="email" id="email" name="email" value="{{ last_username }}" class="form-control"/>
                    </div>
                    <div class="mb-5">
                        <label for="password" class="form-label">Mot de passe :</label>
                        <input type="password" id="password" name="password" class="form-control"/>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <button type="submit" class="button button-secondary mb-3">Se connecter</button>
                        <a href="{{ path('app_forgot_password_request') }}" class="primary-link">Mot de passe oublié ?</a>
                        <a href="{{ path('register') }}" class="primary-link">Pas encore inscrit ?</a>
                    </div>
                    <input type="hidden" name="token" value="{{ csrf_token('Benbase722') }}"/>
                </form>
            </div>
        </section>
    </main>
{% endblock %}

