{% extends 'base.html.twig' %}

{% block title %}Inscrivez vous{% endblock %}

{% block body %}
    <main class="register-main">
        <section class="d-flex flex-column flex-md-row-reverse">
            <div class="register-hero-banner">
                <div class="register-hero-banner-img" style="background-image: url({{ asset('img/compte_bg.jpg') }})"></div>
            </div>
            <div class="m-4 py-md-5 register-form-bloc">
                <h1 class="title-underlined title-primary mb-5">Inscription</h1>
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                <div class="d-flex justify-content-between gap-3">
                    {{ form_row(form.adress.city) }}
                    {{ form_row(form.adress.zipcode) }}
                </div>
                {{ form_row(form.adress.country) }}
                {{ form_row(form.adress.address) }}
                {{ form_row(form.phone) }}
                <div class="d-flex flex-column flex-sm-row justify-content-between gap-2 mt-5 mb-3">
                    <button type="reset" class="button button-outlined">Annuler</button>
                    <button type="submit" class="button button-secondary">S'inscrire</button>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}

