{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container-lg d-flex flex-column py-3 gap-3 text-primary">
    <h1 class="title-underlined title-white-inversed align-self-center">Mentions légales</h1>
    <p>
        En vigueur depuis le 5 octobre 2021.
        Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004, il est porté à
        la connaissance des utilisateurs du site
        <a href="{{ path('home') }}" class="text-decoration-underline link-hover-primary">https://apprenti-webeur.fr</a>
        les présentes mentions légales.
        La connexion et la navigation sur le site Apprenti-webeur.fr par l’utilisateur implique acceptation intégrale
        et sans réserve des présentes mentions légales.
        Ces dernières sont ainsi accessibles sur le site.
    </p>
    <div class="d-flex flex-column gap-3">
        <h3 class="fw-bold text-dark">L'éditeur :</h3>
        <p>L’éditeur et la direction de la publication du site
            <a href="{{ path('home') }}" class="text-decoration-underline link-hover-primary">https://apprenti-webeur.fr</a>
            sont assurés par la société
            par actions simplifiées à associé unique (SASU) Apprenti Webeur dont le siège social est situé au 8 route
            d’en barbassal, 81570 Semalens, immatriculée au registre du commerce et des sociétés sous le
            numéro d’identification unique Castres B 902 175 272, dont le numéro de téléphone est 07 68 89 94 07 et
            l’adresse mail contact@apprenti-webeur.fr
        </p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="fw-bold text-dark">Le responsable de publication :</h3>
        <p>Sylvain Treillard </p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="fw-bold text-dark">L'hébergeur :</h3>
        <p>
            L’hébergeur du site
            <a href="{{ path('home') }}" class="text-decoration-underline link-hover-primary">https://apprenti-webeur.fr</a>
            est la société OVH SAS est une filiale de la société
            OVH Groupe SAS, société immatriculée au RCS de Lille sous le numéro 537 407 926 sise 2. Adresse :
            2 rue Kellermann – 59100 Roubaix – France
        </p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="fw-bold text-dark">Accès au site :</h3>
        <p>
            Le site est accessible 7j/7 et 24h sur 24, sauf cas de force majeure, nécessitant une maintenance.
            En cas de modification, interruption ou suspension des services, le site
            <a href="{{ path('home') }}" class="text-decoration-underline link-hover-primary">https://apprenti-webeur.fr</a>
            ne saura être tenu responsable.
        </p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="fw-bold text-dark">Collecte des données :</h3>
        <p>
            Le site garantit à l’utilisateur, une collecte et un traitement d’informations personnelles dans le respect
            de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et
            aux libertés.
        </p>
        <p>
            En vertu de la loi informatique et libertés du 6 janvier 1978, l’utilisateur dispose d’un droit
            de rectification, de suppression ou d’opposition de ses données personnelles.
        </p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="fw-bold text-dark">Les cookies :</h3>
        <p>
            L’utilisateur est informé que lors de sa visite sur le site
            <a href="{{ path('home') }}" class="text-decoration-underline link-hover-primary">https://apprenti-webeur.fr</a> ,
            un cookie peut s’installer automatiquement sur le logiciel de navigation.
            En naviguant sur le site, il les accepte.
            Un cookie étant un élément ne permettant pas d’identifier l’utilisateur mais sert à enregistrer
            des informations relatives à la navigation de l’utilisateur sur le site internet.
            L’utilisateur peut désactiver cela grâce aux paramètres de son logiciel de navigation.
        </p>
    </div>
    <div class="d-flex flex-column gap-3">
        <h3 class="fw-bold text-dark">Propriété intellectuelle :</h3>
        <p>
            Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou
            partie du site
            <a href="{{ path('home') }}" class="text-decoration-underline link-hover-primary">https://apprenti-webeur.fr</a> , sans autorisation de l’éditeur, est prohibée.
            Cela pourrait entraîner des actions de poursuites judiciaires telles que prévues par le
            code de la propriété intellectuelle et le Code Civil.
        </p>
    </div>
</div>

{% endblock %}