{% extends 'base.html.twig' %}

{% block title %}Espace personnel{% endblock %}

{% block body %}
    <main class="user-panel-main">
        <div class="flex-column w-100 text-primary align-items-center justify-content-center aw-dropdown-trigger">
            <span class="d-flex gap-3 p-3">Menu <i class="fas fa-chevron-down fa-lg text-primary"></i></span>
            <div class="aw-dropdown-content">
                <a href="{{ path('candidat_profile') }}" class="aw-dropdown-icon-item"><i class="fas fa-paperclip fa-lg text-primary"></i>Candidatures</a>
                <a href="{{ path('candidat_profile_update') }}" class="aw-dropdown-icon-item"><i class="fas fa-user fa-lg text-primary"></i>Profil</a>
                <a href="{{ path('app_forgot_password_request') }}" class="aw-dropdown-icon-item"><i class="fas fa-key fa-lg text-primary"></i>Réinitialiser mon mot de passe</a>
            </div>
        </div>
        <div class="d-flex h-100">
            <aside class="aw-side-menu">
                <a href="{{ path('candidat_profile') }}" class="aw-side-item"><i class="fas fa-paperclip fa-lg text-primary"></i>Candidatures</a>
                <a href="{{ path('candidat_profile_update') }}" class="aw-side-item"><i class="fas fa-user fa-lg text-primary"></i>Profil</a>
                <a href="{{ path('app_forgot_password_request') }}" class="aw-side-item"><i class="fas fa-key fa-lg text-primary"></i>Réinitialiser mon mot de passe</a>
            </aside>
            {% block content %}
            {% endblock %}
        </div>
    </main>
{% endblock %}
