{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.value is empty %}
<span class="badge badge-secondary px-3 py-2">Aucun(e)</span>
{% else %}
    {% for job in field.value %}
        <div class="d-flex border border-1 rounded-2 p-2 align-items-center justify-content-between mb-2">
            <div class="d-flex flex-column gap-2">
                <span class="fw-bold fs-5">{{ job.jobTitle }}</span>
                <span>{{ job.companyName }}</span>
            </div>
            <div class="d-flex flex-column gap-2">
                <span>Date d'embauche: <span class="text-primary">{{ job.beginingDate | date("d/m/Y")}}</span></span>
{#                <span>Durée: <span class="text-primary">{{ job.stayTime|date("Y") }}</span></span>#}
            </div>
        </div>
    {% endfor %}
{% endif %}