{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if field.value is empty %}
<span class="badge badge-secondary px-3 py-2">Aucun(e)</span>
{% else %}
    {% for skill in field.value %}
        <div class="d-flex border border-1 rounded-2 p-2 align-items-center justify-content-between mb-2">
            <span class="fw-bold fs-5">{{ skill.title }}</span>
            <span>Niveau : <span class="text-primary">{{ skill.level }}</span></span>
        </div>
    {% endfor %}
{% endif %}