{% extends 'base.html.twig' %}

{% block title %}Votre candidature{% endblock %}


{% block body %}
    <main class="nomination-main">
    <div class="timeline-bloc">
        <div class="container-lg">
            <h1 class="title-underlined title-white mb-5">Je candidate !</h1>
            {% set steps = ['Vous', 'Formation', 'Compétences', 'Expériences', 'Objectifs', 'Nous'] %}
            {% set lineWidth = (stepNumber - 1) * 20 %}
            <div class="steps-bloc d-flex w-100 justify-content-between text-white">
                <div class="yellow-progress-line" style="{{ 'width: ' ~ lineWidth ~ '%' }}"></div>
                {% for i, step in steps %}
                    <div class="step-group d-flex flex-column align-items-center {{ i + 1 == stepNumber ? 'active' : '' }}{{ i + 1 < stepNumber ? 'previous' : '' }}">
                        <span class="step-name">{{ step }}</span>
                        <span class="step-number">{{ i + 1 }}</span>
                        <span class="check-circle mt-2">
                            {% if i + 1 == stepNumber %}
                                <i class="bi bi-check"></i>
                                <i class="bi bi-dot"></i>
                            {% elseif i + 1 < stepNumber %}
                                <i class="bi bi-check previous"></i>
                            {% endif %}
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="container-lg py-5 nomination-form-bloc">
            {% block content %}
            {% endblock %}
        </div>
    </main>
{% endblock %}