{% extends 'base.html.twig' %}

{% block title %}Nos formations
{% endblock %}

{% block body %}
	<section class="homepage-hero-banner">
		<div class="d-flex flex-column">
			<div class="gap-3 d-flex flex-column container-lg hero-banner-content">
				<h1>Nos formations</h1>
				<p>Découvrez notre catalogue.</p>
				<a class="button button-secondary" role="button" href="#Nos_formation">En savoir plus</a>
				<!--
																																																																																								{% if app.user %}
																																																																																									<a class="button button-secondary" role="button" href="#Nos_formation">En savoir plus</a>
																																																																																								{% else %}
																																																																																									<a class="button button-secondary" role="button" href="{{ path('register') }}">S'inscrire</a>
																																																																																								{% endif %}-->
			</div>
			<div class="container-lg position-relative homepage-hero-img-container">
				<img class="homepage-hero-img" src="{{ asset('img/catalogue2.png') }}" alt="home hero"/>
				<svg class="hero-line" width="755" height="650" viewbox="0 0 755 717" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M3 714C20.9708 543.368 165.227 189.753 598.487 140.352C651.256 134.966 755.814 99.9546 751.893 3" stroke="white" stroke-width="6" stroke-linecap="round" stroke-dasharray="17 30"/>
				</svg>
				<svg class="hero-line-mobile" width="375" height="348" viewbox="0 0 375 348" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M-17 344.293C5.79977 250.291 112.954 63.4881 359.174 68.2909C389.116 69.2281 450.259 57.4851 455.303 3.01552" stroke="white" stroke-width="6" stroke-linecap="round" stroke-dasharray="17 30"/>
				</svg>
			</div>
		</div>
		<img class="img-white-cover-shape" src="{{ asset('img/white_cover_shape.png') }}" alt="white_cover_shape">
	</section>
	<section class="w-100 d-flex flex-column gap-5">
		<div class="d-flex flex-wrap gap-2 justify-content-center container-md">
			{% for category in categories%}
				{{ include('catalogue/Components/tag_box.html.twig', {category}) }}
			{% endfor %}
		</div>
	</section>
	<section class="w-100 overflow-hidden position-relative" id="Nos_formation">
		<div class="">
			<div class="d-flex flex-column gap-5 py-5 align-items-center container-lg">
				{% if active_cat is defined and active_cat is not null %}
				<h2 class="title-underlined ">Nos formations {{ active_cat.name|lower }}</h2>
				{% else %}
				<h2 class="title-underlined ">Toutes nos formations </h2>
				{% endif %}
				<div class="formation-card-container gap-3">
					<img class="nosformations-bg-line" src="{{ asset('img/ligne_rose-2.png') }}" alt="ligne arriere plan"/>
					{% if courses is defined and courses|length >= 1 %}
						{% for course in courses %}
							{{ include('home/components/formationCard.html.twig', {course}) }}
						{% endfor %}
					{% else %}
						<p class="text-center fs-2">Aucun cours n'est encore présent dans cette catégorie</p>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

	<style>
		.homepage-hero-img {
			width: 530px;
			right: 60px;
		}
	</style>

{% endblock %}
