{% extends 'nomination/base/nominationBase.html.twig' %}

{% block content %}
    <h1>Vos langues</h1>
    <button type="button" class="btn d-flex w-100 align-items-center justify-content-between p-2" data-bs-toggle="modal" data-bs-target="#langModal">Ajouter une langue<i class="fas fa-plus fa-lg"></i></button>
    {% if langs %}
        {% for lang in langs %}
            {{ include('nomination/Components/langCard.html.twig')}}
        {% endfor %}
    {% endif %}
    <button type="button" class="btn w-100"><a href="{{ path('nomination_end', {"slug": slug}) }}">Valider</a></button>
    <div class="modal fade" id="langModal" tabindex="-1" role="dialog" aria-labelledby="ModalDiploma" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Saississez les informations concernant cette langue</h3>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.level) }}
                </div>
                <div class="modal-footer d-flex align-items-center justify-content-between">
                    {{ form_widget(form.reset) }}
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}