{% extends 'nomination/base/nominationBase.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('nominationCollection') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <h2 class="title-underlined text-dark mb-5">4. Mes expériences</h2>
    <ul id="collection-field-list"
        data-prototype="{{ form_widget(form.jobs.vars.prototype)|e }}"
        data-index="{{ form.jobs|length }}"
        class="p-0 m-0 list-unstyled"
    >
        {% for job in form.jobs %}
            <li class="form-collection-field">
                {{ form_widget(job) }}
                <a class="button button-outlined delete-field-link mb-3" role="button">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
    <div class="d-flex justify-content-sm-end">
		<button class="button button-primary mt-3 add-field-button">Ajouter une expérience</button>
	</div>
	<div class="d-flex justify-content-center my-5">
		<img src="{{ asset('img/straight_line.png') }}" alt="pointillés" class="d-block d-md-none"/>
		<img src="{{ asset('img/straight_line_2.png') }}" alt="pointillés" class="d-none d-md-block"/>
	</div>
	<div class="d-flex flex-column flex-sm-row justify-content-between gap-2 mt-5 mb-3">
		<button class="button button-outlined" type="reset">Annuler</button>
		<button class="button button-secondary" type="submit">Suivant</button>
	</div>
    {{ form_end(form) }}
{% endblock %}