{% extends 'nomination/base/nominationBase.html.twig' %}

{% block content %}
    <h1>Vos diplômes</h1>
    <button type="button" class="btn d-flex w-100 align-items-center justify-content-between p-2" data-bs-toggle="modal" data-bs-target="#diplomaModal">Ajouter un diplome <i class="fas fa-plus fa-lg"></i></button>
    {% if diplomas %}
        {% for diploma in diplomas %}
            {{ include('nomination/Components/diplomaCard.html.twig')}}
        {% endfor %}
    {% endif %}
    <button type="button" class="btn w-100"><a href="{{ path('nomination_skills', {"slug": slug}) }}">Valider</a></button>
    <div class="modal fade" id="diplomaModal" tabindex="-1" role="dialog" aria-labelledby="ModalDiploma" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Saississez les informations concernant votre diplôme</h3>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.title) }}
                    {{ form_row(form.year) }}
                    {{ form_row(form.description) }}
                </div>
                <div class="modal-footer d-flex align-items-center justify-content-between">
                    {{ form_widget(form.cancel) }}
                    {{ form_widget(form.submit) }}
{#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}