{% extends 'nomination/base/nominationBase.html.twig' %}

{% block content %}
    <h1>Informations vous concernant</h1>
    {{ form_start(form) }}
        {{ form_row(form.birthDate) }}
        {{ form_row(form.birthPlace) }}
        {{ form_row(form.nationalSecNumber) }}
        {{ form_row(form.nationality) }}
        {{ form_row(form.familyState) }}
        {{ form_row(form.drivingLicence) }}
        <div class="d-flex align-items-center justify-content-between">
            {{ form_widget(form.reset) }}
            {{ form_widget(form.submit)}}
        </div>
    {{ form_end(form) }}
{% endblock %}