{% extends 'nomination/base/nominationBase.html.twig' %}

{% block content %}
    <h1>Vos Objectifs</h1>
    {{ form_start(form) }}
    {{ form_row(form.xpIntoDomain) }}
    {{ form_row(form.expertMet) }}
    {{ form_row(form.qualityPoints) }}
    {{ form_row(form.professionnalProject) }}
    {{ form_row(form.typeOfCompanyWanted) }}
    {{ form_row(form.weakpoints) }}
    <div class="d-flex justify-content-between align-items-center">
        {{ form_widget(form.reset) }}
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}