{% extends 'nomination/base/nominationBase.html.twig' %}

{% block content %}
    <h1>Votre experience</h1>
    <button type="button" class="btn d-flex w-100 align-items-center justify-content-between p-2" data-bs-toggle="modal" data-bs-target="#diplomaModal">Ajouter une experience<i class="fas fa-plus fa-lg"></i></button>
    {% if jobs %}
        {% for job in jobs %}
            {{ include('nomination/Components/jobCard.html.twig')}}
        {% endfor %}
    {% endif %}
    <button type="button" class="btn w-100"><a href="{{ path('nomination_situation', {"slug": slug}) }}">Valider</a></button>
    <div class="modal fade" id="diplomaModal" tabindex="-1" role="dialog" aria-labelledby="ModalDiploma" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Saississez les informations concernant cette experience</h3>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.jobTitle) }}
                    {{ form_row(form.beginingDate) }}
                    <div class="d-flex flex-column">
                        {{ form_label(form.stayTime) }}
                        <div class="d-flex gap-3 align-items-center justify-content-between mb-3">
                            {{ form_widget(form.stayTime) }}
                            {{ form_widget(form.stayType) }}
                        </div>
                    </div>
                    {{ form_row(form.companyName) }}
                </div>
                <div class="modal-footer d-flex align-items-center justify-content-between">
                    {{ form_widget(form.reset) }}
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}