{% extends 'nomination/base/nominationBase.html.twig' %}

{% block content %}
	<h2 class="title-underlined text-dark mb-5">1. Votre situation actuelle</h2>
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.beginningDate) }}
	<div class="d-flex justify-content-center my-5">
		<img src="{{ asset('img/straight_line.png') }}" alt="pointillés" class="d-block d-md-none"/>
		<img src="{{ asset('img/straight_line_2.png') }}" alt="pointillés" class="d-none d-md-block"/>
	</div>
	<div class="d-flex flex-column flex-sm-row justify-content-between gap-2 mt-5 mb-3">
		<button class="button button-outlined" type="reset" data-dismiss="modal">Annuler</button>
		<button class="button button-secondary" type="submit">Suivant</button>
	</div>
	{{ form_end(form) }}
{% endblock %}
