{% extends 'nomination/base/nominationBase.html.twig' %}

{% block content %}
    <h1>Votre situation actuelle</h1>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.beginningDate) }}
        <div class="d-flex justify-content-between align-items-center">
            {{ form_widget(form.reset) }}
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
{% endblock %}