{% extends 'nomination/base/nominationBase.html.twig' %}

{% block content %}
    <h1>Votre relation avec Apprenti-webeur</h1>
    {{ form_start(form) }}
    {{ form_row(form.awKnowledge) }}
    {{ form_row(form.otherTrainingFailed) }}
    {{ form_row(form.trainingType) }}
    <div class="d-flex justify-content-between align-items-center">
        {{ form_widget(form.reset) }}
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}