{% if active_cat is defined and active_cat.id == category.id %}
    <a class="tag-box active" href="{{ path('app_catalogue_cat_id', {"cat_id": category.id}) }}">
        <h3>{{ category.name }}</h3>
    </a>
{% else %}
<a class="tag-box" href="{{ path('app_catalogue_cat_id', {"cat_id": category.id}) }}">
    <h3>{{ category.name }}</h3>
</a>
{% endif %}